﻿<div ng-controller="ChangePasswordCtrl">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2" style="margin-top:3vw">
            <div class="widget">
                <div class="widget-header bg-lightred">
                    <span class="widget-caption"><label style="font-size:large">Cambiar contraseña</label></span>
                    <div class="widget-buttons">
                        <a href="" widget-maximize></a>
                        <a href="" widget-collapse></a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label for="sminputContrasenaActual">Contraseña actual:</label>
                            <input type="password" ng-model="cuenta.OldPassword" class="form-control input-sm" id="sminputContrasenaActual">
                        </div>
                        <div class="form-group  col-sm-12">
                            <label for="sminputContrasenaNew">Nueva contraseña:</label>
                            <input type="password" ng-model="cuenta.NewPassword" class="form-control input-sm" id="sminputContrasenaNew">
                        </div>
                        <div class="form-group  col-sm-12">
                            <label for="sminputContrasena2">Corfirmar Contraseña:</label>
                            <input type="password" ng-model="cuenta.ConfirmPassword" class="form-control input-sm" id="sminputContrasena2">
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <p class="text-info">
                                    <strong>¿Como debe ser la contraseña?</strong>
                                    Tener seis caracteres de longitud como mínimo.
                                    <br />
                                    Estar compuesta por minimo (1) caracter de las siguientes categorías:
                                </p>
                                <ul class="text-info">
                                    <li>Letras mayúsculas, de la A a la Z</li>
                                    <li>Letras minúsculas, de la a a la z</li>
                                    <li>Números (0-9)</li>
                                    <li>Caracteres especiales (por ejemplo, !, $, #, %)</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a onclick="history.back()" class="btn btn-prev">Volver</a>
                        <button type="button" ng-click="EnviarCuenta()" class="btn btn-blue">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
