﻿<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->


<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app" ng-controller="AppCtrl">

<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title class="page-title" page-title></title>
    <meta name="description" content="blank page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../../assets/img/favicon.png" type="image/x-icon">
    <!--Basic Styles-->
    <link href="../../lib/form-builder/angular-form-builder.css" rel="stylesheet" />
    <link href="../../lib/modules/angularjs-toastr/angular-toastr.min.css" rel="stylesheet" />
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link ng-if="settings.rtl" ng-href="../../assets/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="../../assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../assets/css/weather-icons.min.css" rel="stylesheet" />
    <!--<link ng-href="{{'../../lib/modules/text-angular/textAngular.css?' + settings.version ? settings.version: 'V1'}}" rel="stylesheet" />-->
    <link href="../../lib/modules/text-angular/textAngular.css?V1" rel="stylesheet" />
    <!--Fonts-->
    <style>

        @font-face {
            font-family: 'WYekan';
            src: url('/assets/fonts/BYekan.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <link href="http://fonts.googleapis.com/earlyaccess/droidarabickufi.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
          rel="stylesheet" type="text/css">
    <!--Beyond styles-->
    <link ng-if="!settings.rtl" href="../../assets/css/beyond.min.css" rel="stylesheet" />
    <link ng-if="settings.rtl" href="../../assets/css/beyond-rtl.min.css" rel="stylesheet" />
    <link ng-href="{{'../../assets/css/demo.min.css?' + settings.version ? settings.version: 'V1'}}" rel="stylesheet" />
    <link href="../../assets/css/typicons.min.css" rel="stylesheet" />
    <link href="../../assets/css/animate.min.css" rel="stylesheet" />
    <link ng-href="{{settings.skin}}" rel="stylesheet" type="text/css" />
    <style type="text/css">

        .caja {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            background: rgba(0,0,0,0.1);
        }
    </style>
</head>

<!-- /Head -->
<!-- Body -->
<body>
    <div ui-view autoscroll="false">
        <div class="row">
            <div class="caja"></div>
            <div class="col-sm-8 col-sm-offset-2" style="margin-top:15vw">
                <div class="widget">
                    <div class="widget-header bg-red">
                        <span class="widget-caption"><label style="font-size:large">Activación de Cuenta</label></span>
                        <div class="widget-buttons">
                            <a href="" widget-maximize></a>
                            <a href="" widget-collapse></a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="title">El enlace se ha expirado.</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="/" class="btn btn-prev">ir al inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="../../lib/jquery/jquery.min.js"></script>
    <script src="../../lib/QR/qrcode.min.js"></script>
    <script src="../../lib/jquery/bootstrap.js"></script>
    <script src="../../lib/angular/angular.js"></script>
    <!--Script dataTable-->
    <script src="../../lib/jquery/datatable/ZeroClipboard.js"></script>
    <script src="../../lib/jquery/datatable/jquery.dataTables.js"></script>
    <script src="../../lib/jquery/datatable/dataTables.tableTools.js"></script>
    <link rel="stylesheet" href="/dist/ng-table.min.css">
    <script src="/dist/ng-table.js"></script>
    <!--FIN Script dataTable-->
    <!--Script  jqeasy-->
    <script src="../../lib/jquery/charts/chartjs/chart.min.js"></script>
    <script src="../../lib/jquery/charts/easypiechart/jquery.easypiechart.min.js"></script>
    <script src="../../lib/jquery/charts/morris/morris.js"></script>
    <script src="../../lib/jquery/datatable/dataTables.bootstrap.js"></script>
    <script src="../../lib/utilities.js"></script>
    <!--Pagination-->
    <script src="../../lib/modules/ng-simplePagination/simplePagination.spec.js"></script>
    <script src="../../lib/modules/ng-simplePagination/simplePagination.js"></script>
    <script src="../../lib/modules/angular-daterangepicker/moment.js"></script>
    <script src="../../lib/modules/angular-daterangepicker/angular-daterangepicker.min.js"></script>
    <script src="../../lib/modules/angular-daterangepicker/daterangepicker.js"></script>
    <script src="../../lib/modules/angular-daterangepicker/angular-daterangepicker.js"></script>
    <script src="../../lib/angular/angular-animate/angular-animate.js"></script>
    <script src="../../lib/angular/angular-cookies/angular-cookies.js"></script>
    <script src="../../lib/angular/angular-resource/angular-resource.js"></script>
    <script src="../../lib/angular/angular-sanitize/angular-sanitize.js"></script>
    <script src="../../lib/angular/angular-touch/angular-touch.js"></script>
    <script src="../../lib/angular/angular-ui-router/angular-ui-router.js"></script>
    <script src="../../lib/angular/angular-ocLazyLoad/ocLazyLoad.js"></script>
    <script src="../../lib/angular/angular-ngStorage/ngStorage.js"></script>
    <script src="../../lib/angular/angular-ui-utils/angular-ui-utils.js"></script>
    <script src="../../lib/angular/angular-breadcrumb/angular-breadcrumb.js"></script>
    <script src="../../lib/angular/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="../../lib/modules/angularjs-toastr/angular-toastr.min.js"></script>
    <script src="../../lib/jquery/slimscroll/jquery.slimscroll.js"></script>
    <script src="../../lib/form-builder/angular-form-builder-components.js"></script>
    <script src="../../lib/form-builder/angular-form-builder.js"></script>
    <script src="../../lib/form-builder/angular-validator-rules.min.js"></script>
    <script src="../../lib/form-builder/angular-validator.min.js"></script>
    <script src="../../lib/modules/text-angular/textAngular-sanitize.min.js"></script>
    <script src="../../lib/modules/text-angular/textAngular-rangy.min.js"></script>
    <script src="../../lib/modules/text-angular/textAngular.min.js"></script>
    <!-- App Config and Routing Scripts -->
    <!--<script ng-src="{{'../../app/app.js?' + settings.version ? settings.version: 'V1'}}"></script>-->
    <script src="../../app/app.js?V1"></script>
    <!--<script ng-src="{{'../../app/config.js?' + settings.version ? settings.version: 'V1'}}"></script>-->
    <script src="../../app/config.js?V1"></script>
    <!--<script ng-src="{{'../../app/config.lazyload.js?' + settings.version ? settings.version: 'V1'}}"></script>-->
    <script src="../../app/config.lazyload.js?V1"></script>
    <!-- Layout Related Directives -->
    <script src="../../app/directives/loading.js"></script>
    <script src="../../app/directives/skin.js"></script>
    <script src="../../app/directives/sidebar.js"></script>
    <script src="../../app/directives/header.js"></script>
    <script src="../../app/directives/navbar.js"></script>
    <script src="../../app/directives/chatbar.js"></script>
    <script src="../../app/directives/widget.js"></script>
    <script src="../../app/Base64.js"></script>
    <link href="../../lib/loading-bar.css" rel="stylesheet" />
    <script src="../../lib/loading-bar.js"></script>
    <!--Controladores-->
    <!--<script ng-src="{{'../../app/helpers/byaSite.js?' + settings.version ? settings.version: 'V1'}}"></script>-->
    <script src="../../app/helpers/byaSite.js?V1"></script>
    <!--<script ng-src="{{'../../app/services/Services.js?' + settings.version ? settings.version: 'V1'}}"></script>-->
    <script src="../../app/services/Services.js?V1"></script>
    <!--<script ng-src="{{'../../app/helpers/Directives.js?' + settings.version ? settings.version: 'V1'}}"></script>-->
    <script src="../../app/helpers/Directives.js?V1"></script>
    <!--<script ng-src="{{'../../app/dist/vendors.js?' + settings.version ? settings.version: 'V1'}}"></script>-->
    <script src="'../../app/dist/vendors.js?V1"></script>
</body>
<!--  /Body -->
</html>