﻿<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->


<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app" ng-controller="AppCtrl">

<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title class="page-title" page-title></title>
    <meta name="description" content="blank page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
    <!--Basic Styles-->
    <link href="/angular/lib/form-builder/angular-form-builder.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link ng-if="settings.rtl" ng-href="/assets/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/weather-icons.min.css" rel="stylesheet" />
    <link href="/angular/lib/modules/text-angular/textAngular.css?V1" rel="stylesheet" />
    <!--<link ng-href="{{'/angular/lib/modules/text-angular/textAngular.css?' + settings.version ? settings.version: 'V1'}}" rel="stylesheet" />-->
    <!--Fonts-->
    <style>

        @font-face {
            font-family: 'WYekan';
            src: url('/assets/fonts/BYekan.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <link href="http://fonts.googleapis.com/earlyaccess/droidarabickufi.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
          rel="stylesheet" type="text/css">
    <!--Beyond styles-->
    <link ng-if="!settings.rtl" href="/assets/css/beyond.min.css" rel="stylesheet" />
    <link ng-if="settings.rtl" href="/assets/css/beyond-rtl.min.css" rel="stylesheet" />
    <link href="/assets/css/demo.min.css" rel="stylesheet" />
    <link href="/assets/css/typicons.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.min.css" rel="stylesheet" />
    <link ng-href="{{settings.skin}}" rel="stylesheet" type="text/css" />
    <style type="text/css">

        .caja {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            background: rgba(0,0,0,0.1);
        }
    </style>
</head>

<!-- /Head -->
<!-- Body -->
<body onload="setlabel()">
    <div ui-view autoscroll="false">
        <div class="row">
            <div class="caja"></div>
            <div class="col-sm-8 col-sm-offset-2" style="margin-top:15vw">
                <div class="widget">
                    <div class="widget-header bg-blueberry">
                        <span class="widget-caption"><label style="font-size:large">Activación de Cuenta</label></span>
                        <div class="widget-buttons">
                            <a href="" widget-maximize></a>
                            <a href="" widget-collapse></a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="title" id="mensaje">Se ha registrado satisfatoriamente. ya puede iniciar sesion.</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="/" class="btn btn-prev">ir al inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="/angular/lib/jquery/jquery.min.js"></script>
    <script src="/angular/lib/QR/qrcode.min.js"></script>
    <script src="/angular/lib/jquery/bootstrap.js"></script>
    <!--<script src="/angular/lib/angular/angular.js"></script>-->
    <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        };

        function setlabel() {
            var id = getParameterByName("id");
            if (id != undefined || id != "" || id != null) {
                if (id == "valid") {
                    $("#mensaje").html("Estimado usuario, su registro se ha realizado satisfactoriamente. A partir de este momento puede iniciar sesión.");
                }
                else if (id == "invalidtoken") {
                    $("#mensaje").html("Este correo ya ha sido confirmado.")
                }
            }
        };

        $(document).ready(function () {
            setlabel();
        });

    </script>
    <!--Script dataTable-->
    <script src="/angular/lib/jquery/datatable/ZeroClipboard.js"></script>
    <script src="/angular/lib/jquery/datatable/jquery.dataTables.js"></script>
    <script src="/angular/lib/jquery/datatable/dataTables.tableTools.js"></script>
    <!--FIN Script dataTable-->
    <!--Script  jqeasy-->
    <script src="/angular/lib/jquery/charts/chartjs/chart.min.js"></script>
    <script src="/angular/lib/jquery/charts/easypiechart/jquery.easypiechart.min.js"></script>
    <script src="/angular/lib/jquery/charts/morris/morris.js"></script>
    <script src="/angular/lib/jquery/datatable/dataTables.bootstrap.js"></script>
    <script src="/angular/lib/utilities.js?V1"></script>
    <!--<script ng-src="{{'/angular/lib/utilities.js?' + settings.version ? settings.version: 'V1'}}"></script>-->
    <!--Controladores-->
    <script src="/angular/app/helpers/byaSite.js?V1"></script>
    <!--<script ng-src="{{'/angular/app/helpers/byaSite.js?' + settings.version ? settings.version: 'V1'}}"></script>-->
    <!--<script src="/angular/app/services/Services.js"></script>
    <script src="/angular/app/helpers/Directives.js"></script>
    <script src="/angular/app/dist/vendors.js"></script>-->
</body>
<!--  /Body -->
</html>