﻿<div ng-controller="ActualizarFirmaCtrl">
    <div class="row">
        <div class="col-sm-9">
            <div class="col-sm-5">
                <strong>Identificación</strong>
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control input-sm" ng-model="Firma.Identificacion" 
                           id="username-input" show-focus="true" ng-blur="_buscarTercero()"
                           ng-disabled="Firma.Deshabilitar">
                </div>
            </div>
            <div class="col-sm-7">
                <strong>Nombre</strong>
                <div class="input-group m-b">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input disabled="disabled" type="text" class="form-control input-sm" style="text-transform:uppercase" ng-model="Firma.NombreCompleto">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <button type="button" class="btn btn-info btn-addon" ng-click="buscarTercero(Firma)"><i class="fa fa-search"></i>Buscar</button>
        </div>
    </div>
    <div class="col-sm-12">
        <fieldset>
            <legend>Firma del Tercero</legend>

            <div class="row">
                <div class="col-xs-12" id="firma-tercero">
                    <label>{{Firma.Nombre}}</label>
                    <input name="file" type="file" id="textArchivos" accept="image/*" onchange="angular.element(this).scope().addImage(this.files);" />
                </div>
                <div class="col-xs-12 div_scroll" style="max-width:560px;overflow-x: scroll;">
                    <img id="firmaTercero" ng-src="/api/Recursos/Firma/{{Firma.Identificacion}}" />
                </div>
            </div>
        </fieldset>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-offset-7 col-xs-2">
            <button style="width:90px;" type="button" class="btn  btn-danger" ng-click="cerrarModal()">Cancelar</button>
        </div>
        <div class="col-xs-2">
            <button style="width:90px;" type="button" ng-click="guardarFirmaTercero()" class="btn  btn-info">Guardar</button>
        </div>
    </div>

</div>