﻿<div class="row" ng-controller="GestionTerceroCtrl">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading  font-bold"><strong>Gestión de Terceros</strong></div>
            <div class="panel-body">
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-xs-12">
                        <div class="clearfix col-xs-4">
                            <div class="input-group row">
                                <input type="text" class="form-control input-sm btn-rounded uppercase" id="txtBuscarTercero" ng-model="tableTerceros.filter()['Filtro']" placeholder="Buscar...">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary btn-sm btn-rounded uppercase" id="btnBuscarTercero"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-8 text-right">
                            <button class="btn btn-info btn-addon" type="button" ng-click="agregar()"><i class="fa fa-pencil"></i>Nuevo</button>
                            <!--<button class="btn btn-success btn-addon" type="button" ng-click="exportData()" ng-show="(Terceros).length"><i class="glyphicon glyphicon-share"></i>Exportar a Excel</button>-->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label>Terceros: {{Terceros.length}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table ng-table="tableTerceros" template-pagination="/tpl/blocks/data-table-pager.html" class="table table-hover table-bordered table-striped">
                                <tr ng-repeat="item in $data">
                                    <td data-title="'#'" class="text-right">{{$index + 1}}</td>
                                    <td data-title="'Identificación'" class="text-center">{{item.Identificacion | uppercase}}</td>
                                    <td data-title="'Nombre'">{{item.NombreCompleto | uppercase}}</td>
                                    <td data-title="'Firma'" class="text-center"><img height="40" ng-src="{{item.Firma}}" /></td>
                                    <td data-title="'Eliminar'" width="100" class="text-center">
                                        <button class="btn btn-sm btn-rounded btn btn-icon btn-default" ng-click="eliminar(item)"><i class="fa fa-remove"></i></button>
                                    </td>

                                </tr>
                                <tr ng-hide="Peticion == 'false'">
                                    <td ng-hide="$data.length > 0" colspan="7"><strong>No hay Terceros registrados</strong></td>
                                </tr>
                                <tr ng-hide="Peticion == 'true'">
                                    <td colspan="7" class="text-center"><img class="img-circle" width="80" height="120" src="img/loading.gif" />Cargando...</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>