﻿<div class="row" ng-controller="GestionUsuariosCtrl">
    <div class="col-lg-12 col-sm-12 col-xs-12">

        <div class="widget">
            <div class="widget-header bordered-bottom bordered-darkorange">
                <strong class="widget-caption">Administración de Usuarios</strong>
            </div>
            <div class="widget-body">

                <div class="row" style="margin-bottom:10px;">
                    <div class="col-xs-12">
                        <div class="clearfix col-xs-4">
                            <div class="input-group row">
                                <input type="text" class="form-control input-sm btn-rounded uppercase" ng-model="tableUsuarios.filter()['Filtro']" placeholder="Buscar...">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info btn-sm btn-rounded"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-8 text-right">
                            <button class="btn m-b-xs btn-sm btn-info btn-addon" ng-click="nuevoUsuario()"><i class="fa fa-plus"></i>Nuevo Usuario</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>Usuarios: {{lUsuarios.length}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table ng-table="tableUsuarios" template-pagination class="table table-bordered table-hover table-striped">
                                <tr ng-repeat="item in $data">
                                    <td data-title="'USERNAME'">{{item.UserName | uppercase}}</td>
                                    <td data-title="'NOMBRE'">{{item.Tercero | uppercase}}</td>
                                    <td data-title="'FECHA DE DESACTIVACION'" class="text-center">
                                        <a ng-if="item.Editar != true" ng-click="EditarFecha(item)">{{item.FechaDesactivacion | date: "dd/MM/yyyy"}}</a>
                                        <form class="form-inline">
                                            <div ng-if="item.Editar == true">
                                                <div class="input-group m-b">
                                                    <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-change="mostrarFecha(item.FechaDesactivacion)" ng-model="item.FechaDesactivacion" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" /><!--date-disabled="disabled(date, mode)" -->
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </div>

                                            </div>
                                        </form>
                                    </td>
                                    <td data-title="'EMAIL'" class="text-center">{{item.Email}}</td>
                                    <td data-title="'ESTADO'" class="text-center">{{item.Estado | uppercase}}</td>
                                    <td data-title="'CORREO CONFIRMADO'" class="text-center">{{item.CorreoConfirmado}}</td>
                                    <td data-title="'FIN BLOQUEO'" class="text-center">{{item.FinBloqueo }}</td>
                                    <td data-title="'ACCESOS FALLIDOS'" class="text-center">{{item.AccessosFallidos}}</td>
                                    <td class="text-center">
                                        <a href="javascript:;" class="info" ng-click="ReSendConfirmationEmail(item)"
                                           data-toggle="tooltip" data-placement="top" title="Reenviar correo de confirmación">
                                            <span class="fa fa-envelope"></span>
                                        </a>
                                        <!--<button class="btn btn-sm btn-rounded btn btn-icon btn-default"
                                                data-toggle="tooltip" data-placement="top" title="Reenviar correo de confirmación" ng-click="ReSendConfirmationEmail(item)">
                                            <i class="fa fa-send"></i>
                                        </button>-->
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:;" class="warning" ng-click="_irCambiarPassword(item)" data-toggle="tooltip" data-placement="top" title="Restaurar clave de usuario">
                                            <span class="fa fa-unlock"></span>
                                        </a>
                                        <!--<button class="btn btn-sm btn-rounded btn btn-icon btn-default"
                                                data-toggle="tooltip" data-placement="top" title="Restaurar clave de usuario" ng-click="_irCambiarPassword(item)">
                                            <i class="fa fa-unlock"></i>
                                        </button>-->
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:;" class="success" ng-click="_irRolesUsuario(item)"
                                           data-toggle="tooltip" data-placement="top" title="Editar permisos de usuario">
                                            <span class="fa fa-list"></span>
                                        </a>
                                        <!--<button class="btn btn-sm btn-rounded btn btn-icon btn-default"
                                                data-toggle="tooltip" data-placement="top" title="Editar permisos de usuario" ng-click="_irRolesUsuario(item)">
                                            <i class="fa fa-users"></i>
                                        </button>-->
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:;" class="maroon" ng-click="_updateSesion(item)"
                                           data-toggle="tooltip" data-placement="top" title="Activar sesión de usuario">
                                            <span class="fa fa-check"></span>
                                        </a>
                                        <!--<button class="btn btn-sm btn-rounded btn btn-icon btn-default"
                                                data-toggle="tooltip" data-placement="top" title="Activar sesión de usuario" ng-click="_updateSesion(item)">
                                            <i class="fa fa-check"></i>
                                        </button>-->
                                    </td>
                                </tr>
                                <tr ng-show="$data.length==0">
                                    <td colspan="12"><strong>No se encontraron resultados</strong></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalNuevoUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo usuario</h4>
                </div>
                <div class="modal-body">
                    <form name="formularioUsuario" novalidate>
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Digite la identificación del tercero al que le va a crear un usuario, y luego asigne la contraseña.</label>
                            </div>
                            <div class="col-sm-4">
                                <strong>Identificación</strong>
                                <div class="input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control input-sm" ng-model="Usuario.UserName" id="username-input" show-focus="true" ng-blur="buscarTercero()">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <strong>Email</strong>
                                <div class="input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input type="text" class="form-control input-sm" style="text-transform:uppercase" ng-model="Usuario.Email" ng-blur="VerificarEmail()">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <strong>Tercero</strong>
                                <div class="input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control input-sm" style="text-transform:uppercase" disabled ng-model="Usuario.Tercero">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <strong>Contraseña</strong>
                                <div class="input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-compass"></i></span>
                                    <input type="password" class="form-control input-sm" ng-model="Usuario.Password">
                                    <span class="error"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <strong>Confirme Contraseña</strong>
                                <div class="input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-compass"></i></span>
                                    <input type="password" class="form-control input-sm" ng-model="Usuario.PasswordConfirm" name="passwor2">
                                </div>
                                <span ng-show="Usuario.PasswordConfirm!=Usuario.Password && formularioUsuario.passwor2.$dirty">Las contraseñas no coinciden</span>
                            </div>
                            <div class="col-sm-6">
                                <strong>Fecha Desactivación:</strong>
                                <div class="input-group m-b">
                                    <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
                                    <input id="fechaInicial" type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-change="mostrarFecha(Usuario.FechaDesactivacion)" ng-model="Usuario.FechaDesactivacion" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-addon" data-dismiss="modal"><i class="fa fa-close"></i>Cerrar</button>
                    <button ng-disabled="peticion||Usuario.Deshabilitar||Usuario.Password!=Usuario.PasswordConfirm" type="button" class="btn btn-info btn-addon" ng-click="_guardarNuevo()"><i class="fa fa-check"></i>Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalCambiarPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Cambiar contraseña de usuario</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Digite las nuevas contraseñas del usuario</label>
                        </div>
                        <div class="col-xs-4">
                            <strong>Identificación</strong>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control input-sm" ng-model="Usuario.UserName" ng-blur="_buscarTercero()" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <strong>Nombre</strong>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control input-sm" disabled="disabled" ng-model="Usuario.Tercero">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <strong>Contraseña</strong>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-compass"></i></span>
                                <input type="password" class="form-control input-sm" ng-model="Usuario.Password">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <strong>Confirme Contraseña</strong>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-compass"></i></span>
                                <input type="password" class="form-control input-sm" ng-model="Usuario.PasswordConfirm">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger btn-addon" data-dismiss="modal"><i class="icon icon-close"></i>Cerrar</button>
                    <button ng-disabled="peticion" type="button" class="btn btn-info btn-addon" ng-click="CambiarPassword()"><i class="icon icon-check"></i>Guardar</button>

                </div>
            </div>
        </div>
    </div>
</div>
