﻿<div class="row" ng-controller="RegistroRolesUsuariosCtrl">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bg-danger">
                <a href="" onclick="history.back()" class="bg-danger"
                   style="transform:translate(-10px,3px); float:left;width:30px;height:30px; padding:3px;">
                    <i class="fa fa-chevron-circle-left" style="font-size:2em"></i>
                </a>
                <span class="widget-caption">
                    Actualizar permisos - {{Usuario.UserName}} : {{Usuario.Tercero ? Usuario.Tercero  : 'SIN ASIGNAR'}}
                </span>
                <div class="widget-buttons">
                    <a href="" widget-maximize></a>
                    <a href="" widget-collapse></a>
                </div>
            </div>
            <div class="widget-body">

                <div class="row">
                    <div class="col-sm-12">

                        <div class="col-sm-12">
                            <div class="row">

                                <div class="col-sm-12" style="margin-bottom:10px;margin-top:10px;">
                                    <div class="row">
                                        <label class="control-label col-sm-2">Módulo</label>
                                        <div class="col-sm-4">
                                            <select ng-options="item.Roles as item.Titulo for item in MenusPadres" class="form-control" ng-model="Menu.Padre" ng-change="buscarMenus()">
                                                <option value="">Seleccione una opción</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 text-right">
                                            <button ng-disabled="deshabilitarBotonGuardar" class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="actualizarRoles()"><i class="fa fa-save"></i>Guardar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">
                                                                <div class="checkbox">
                                                                    <label title="{{ !Menu.Todos ?'Seleccionar Todos':'Quitar seleccón'}}" data-target="tooltip">
                                                                        <input type="checkbox" ng-click="actualizarSeleccionados(Menu.Todos)" ng-model-options="{ getterSetter: true }" ng-model="Menu.Todos" />
                                                                        <span class="text"></span>
                                                                    </label>
                                                                </div>

                                                            </th>
                                                            <th>Nombre</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="menu in Lista">
                                                            <td class="text-center">
                                                                <div class="checkbox">
                                                                    <label title="{{ !menu.hasRol ? 'Seleccionar: '+menu.Titulo:'Quitar: '+menu.Titulo}}" data-target="tooltip">
                                                                        <input type="checkbox" class="small" ng-model-options="{ getterSetter: true }" ng-model="menu.hasRol" />
                                                                        <span class="text"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td>{{menu.Titulo}}</td>
                                                        </tr>
                                                        <tr ng-if="Lista.length==0">
                                                            <td colspan="2">No se encontraron resultados</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div ivh-treeview="Lista"
             ivh-treeview-on-toggle="toggleCallback(ivhNode)">
        </div>-->
                            <!--<div id="jqxWidget" style="border:none;"></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal modal-primary" id="ShowRoles">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Rol de Usuarios</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="collapse in">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h5 class="title-devider">Marque la casilla con el Rol que desee asignar.</h5>
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6" ng-repeat="r in Roles" ng-if='r.RolName != "admin" && r.RolName != "ADMINPAGOSAsigUser" && r.RolName != "CONSULPAGOS"'>
                                        <div class="checkbox" ng-if='r.Estado == true'>
                                            <label>
                                                <input type="checkbox" class="inverted" ng-checked="r.Estado" ng-click="DeleteUserFromRol(r)">
                                                <span class="text">{{r.RolName}}</span>
                                            </label>
                                        </div>
                                        <div class="checkbox" ng-if="r.Estado == false">
                                            <label>
                                                <input type="checkbox" class="inverted" ng-checked="r.Estado" ng-click="AddUserToRol(r)">
                                                <span class="text">{{r.RolName}}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>