﻿<div ng-controller="DashboardCtrl">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row" ng-if="Expression">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="databox-left bg-themesecondary">
                            <div class="databox-piechart">
                                <div class="easyPieChart block-center" ui-jq="easyPieChart" ui-options="{ percent:{{Rechazados.porcentaje}}, lineWidth: 3, barColor:'#fff', trackColor: 'rgba(255,255,255,0.1)' , scaleColor:false, size: 47, lineCap: 'butt', animate: 500 }"><span class="white font-90">{{Rechazados.porcentaje}}%</span></div>
                            </div>
                        </div>
                        <div class="databox-right">
                            <span class="databox-number themesecondary">{{Rechazados.valor}}</span>
                            <div class="databox-text darkgray">Rechazados</div>
                            <div class="databox-stat themesecondary radius-bordered">
                                <i class="stat-icon icon-lg fa fa-close"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="databox-left bg-themethirdcolor">
                            <div class="databox-piechart">
                                <div class="easyPieChart block-center" ui-jq="easyPieChart" ui-options="{ percent:{{Espera.porcentaje}}, lineWidth: 3, barColor:'#fff', trackColor: 'rgba(255,255,255,0.1)' , scaleColor:false, size: 47, lineCap: 'butt', animate: 500 }"><span class="white font-90">{{Espera.porcentaje}}%</span></div>
                            </div>
                        </div>
                        <div class="databox-right">
                            <span class="databox-number themethirdcolor">{{Espera.valor}}</span>
                            <div class="databox-text darkgray">Espera</div>
                            <div class="databox-stat themethirdcolor radius-bordered">
                                <i class="stat-icon  icon-lg fa fa-envelope-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="databox-left bg-themeprimary">
                            <div class="databox-piechart">
                                <div class="easyPieChart block-center" ui-jq="easyPieChart" ui-options="{ percent: {{Respondidos.porcentaje}}, lineWidth: 3, barColor:'#fff', trackColor: 'rgba(255,255,255,0.1)' , scaleColor:false, size: 47, lineCap: 'butt', animate: 500 }"><span class="white font-90">{{Respondidos.porcentaje}}%</span></div>
                            </div>
                        </div>
                        <div class="databox-right">
                            <span class="databox-number themeprimary">{{Respondidos.valor}}</span>
                            <div class="databox-text darkgray">Respondidos</div>
                            <div class="databox-state bg-themeprimary">
                                <i class="fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="databox-left bg-success">
                            <div class="databox-piechart">
                                <div class="easyPieChart block-center" ui-jq="easyPieChart" ui-options="{ percent: 100, lineWidth: 3, barColor:'#fff', trackColor: 'rgba(255,255,255,0.1)' , scaleColor:false, size: 47, lineCap: 'butt', animate: 500 }"><span class="white font-90">100%</span></div>
                            </div>
                        </div>
                        <div class="databox-right">
                            <span class="databox-number success">{{Total}}</span>
                            <div class="databox-text ">Total</div>
                            <div class="databox-state bg-success">
                                <i class="fa fa-server"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"   >
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="dashboard-box" >
                        <div class="databox databox-xxlg databox-vertical databox-inverted">
                            <div class="databox-top bg-whitesmoke no-padding">
                                <div class="databox-row row-2 bg-danger no-padding">
                                    <div class="databox-cell cell-1 text-align-center no-padding padding-top-5">
                                        <span class="databox-number white"><i class="fa fa-bar-chart-o no-margin"></i></span>
                                    </div>
                                    <div class="databox-cell cell-8 no-padding padding-top-5 text-align-left">
                                        <span class="databox-number white">Apfis - Aprehensión y fiscalización</span>
                                    </div>
                                    <div class="databox-cell cell-3 text-align-right padding-10">
                                        <span class="databox-text white">{{Fecha|date :'dd/MM/yyyy'}}</span>
                                    </div>
                                </div>
                                <div class="databox-row row-4">
                                    <div class="databox-cell cell-6 no-padding padding-10 padding-left-20 text-align-left">
                                        <span class="databox-number orange no-margin">{{Cuenta.Total}}</span>
                                        <span class="databox-text sky no-margin"></span>
                                    </div>
                                    <div class="databox-cell cell-2 no-padding padding-10 text-align-left">
                                        <span class="databox-number orange no-margin">{{Cuenta.Semana}}</span>
                                        <span class="databox-text darkgray no-margin">Esta semana</span>
                                    </div>
                                </div>
                                <div class="databox-row row-6 no-padding">
                                    <div class="databox-sparkline">
                                        <span ui-jq="sparkline" id="compositeline"></span>
                                    </div>
                                </div>
                                <!--<div class="databox-row row-6" style="margin-top: -25px">
                                    <button class="btn btn-success" ng-click="success()">SUCESS</button>
                                    <button class="btn btn-warning" ng-click="warning()">WARNING</button>
                                    <button class="btn btn-danger" ng-click="danger()">DANGER</button>
                                </div>-->
                            </div>
                            <div class="databox-bottom bg-sky no-padding">
                             
                                <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                    <span class="databox-header white">Lun</span>
                                </div>
                                <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                    <span class="databox-header white">Mart</span>
                                </div>
                                <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                    <span class="databox-header white">Mier</span>
                                </div>
                                <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                    <span class="databox-header white">Jue</span>
                                </div>
                                <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                    <span class="databox-header white">Vier</span>
                                </div>
                                <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                    <span class="databox-header white">Sab</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="orders-container">
                <div class="orders-header">
                    <h6>Documentos Activos</h6>
                </div>
                <ul class="orders-list" ng-repeat="item in Documentos | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
                    <li class="order-item">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-left">
                                <div class="item-booker">{{item.Nombre}}</div>
                                <div class="item-time">
                                    <i class="fa fa-calendar"></i>
                                    <span>{{item.FecReg|date:'dd/MM/yyyy'}}</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-right">
                                <div class="item-price">
                                    <span class="currency"></span>
                                    <span class="price">{{item.Total}}</span>
                                </div>
                            </div>
                        </div>
                        <a class="item-more" ui-sref="app.viewTramite({TramiteId:item.TramiteId})">
                            <i></i>
                        </a>
                    </li>
                </ul>
                <div class="text-align-center">
                    <ul class="pagination">
                        <li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
                        <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
                            <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
                        </li>
                        <li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>