﻿
<div ng-controller="LoginCtrl">

    <div class="login-container animated  fadeInDown">
        <div class="loginbox bg-white">
            <br>
            <div class="text-center">
                <img src="/angular/img/bya.png" width="200" />
            </div>
            <div class="loginbox-title">INICIO DE SESIÓN</div>
            <div class="loginbox-social">
                <!--<div class="social-title ">Inicia sesión y accede a nuestros servicios</div>-->

            </div>
            <div class="loginbox-textbox">
                <label>Usuario</label>
                <input type="text" class="form-control" placeholder="Identificación" ng-model="User.Identificacion" ng-enter="login()" />
            </div>
            <div class="loginbox-textbox">
                <label>Contraseña</label>
                <input type="password" class="form-control" placeholder="***********" ng-model="User.Password" ng-enter="login()" />
            </div>
            <div class="loginbox-forgot">
                <a href="" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#ModalContrasena">Olvidaste tu Contraseña?</a>
            </div>
            <div class="loginbox-submit">
                <a href="javascript:;" ng-click="login()" class="btn btn-primary btn-block">Iniciar sesión</a>
            </div>
            <div class="row text-center loginbox-signup">
                <a href="/#/inicio">Volver a Inicio</a>
            </div>
        </div>

    </div>
    <!-- Modal-->
    <!-- MODAL ModalContraseña -->
    <div class="modal modal-primary" id="ModalContrasena">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Restablecer contraseña</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Email:</label>
                                <input type="text" ng-model="ForgotPasswordViewModel.Email" class="form-control" placeholder="EJ: usuario@dominio.com">
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-offset-2">
                            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="enviarReset" ng-click="EnviarEmail()" class="btn btn-blue">Enviar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- FIN Modal-->
</div>


<div class="login-container animated fadeInDown">
    <!--<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>-->
</div>