﻿
<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app" ng-controller="AppCtrl" lang="es-co">

<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title class="page-title" page-title></title>

    <meta name="description" content="blank page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/angular/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->

    <link href="~/angular/lib/form-builder/angular-form-builder.css" rel="stylesheet" />
    <link href="~/angular/lib/modules/angularjs-toaster/angular-toastr.min.css" rel="stylesheet" />

    <link href="~/angular/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link ng-if="settings.rtl" ng-href="~/angular/assets/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/angular/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/angular/assets/css/weather-icons.min.css" rel="stylesheet" />
    <link href="~/angular/lib/modules/text-angular/textAngular.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/earlyaccess/droidarabickufi.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
          rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    <link ng-if="!settings.rtl" href="~/angular/assets/css/beyond.min.css" rel="stylesheet" />
    <link ng-if="settings.rtl" href="~/angular/assets/css/beyond-rtl.min.css" rel="stylesheet" />
    <link href="~/angular/assets/css/demo.min.css" rel="stylesheet" />
    <link href="~/angular/assets/css/typicons.min.css" rel="stylesheet" />
    <link href="~/angular/assets/css/animate.min.css" rel="stylesheet" />
    <link ng-href="{{'~/angular/css/byacss.css?' + settings.version ? settings.version: 'V1'}}" rel="stylesheet" />
    <link ng-href="{{settings.skin}}" rel="stylesheet" type="text/css" />

</head>

<!-- /Head -->
<!-- Body -->
<body>

    <div ui-view autoscroll="false"></div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modalError">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header font-bold">
                    <h4 class="modal-title"> Capturar información del error </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12" id="sketch">
                            <img id="imgCanvas" style="border:1px solid #000000; width: 100%; height: 300px;" />
                            <canvas id="canvasPan" style="display: none"></canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group ">
                                <label>Asunto</label>
                                <input id="txtAsuntoSoporte" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group ">
                                <label>Mensaje</label>
                                <input id="txtMensajeSoporte" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div style="float: left; width: 300px; height: 50px;">
                        <label style="font-size: 18px;"><strong>Estado del envio</strong></label><br />
                        <label id="infoSoporte" style="position: relative; top: -8px;">No enviado</label>
                    </div>
                    <div class="text-right" style="margin-top: 20px;">
                        <button data-dismiss="modal" class="btn m-b-xs btn-sm btn-danger btn-addon"><i class="icon icon-close"></i>Cancelar</button>
                        <button id="btnCapturar" onclick="javascript:enviarImagen();" class="btn m-b-xs btn-sm btn-info btn-addon"><i class="icon icon-check"></i>Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="~/angular/lib/jquery/jquery.min.js"></script>
    <script src="~/angular/lib/QR/qrcode.min.js"></script>
    <script src="~/angular/lib/jquery/bootstrap.js"></script>
    <script src="~/angular/lib/angular/angular.js"></script>
    <script src="~/angular/lib/angular/dynamic-number.min.js"></script>

    <!--Script dataTable-->
    <script src="~/angular/lib/jquery/datatable/ZeroClipboard.js"></script>
    <script src="~/angular/lib/jquery/datatable/jquery.dataTables.js"></script>
    <script src="~/angular/lib/jquery/datatable/dataTables.tableTools.js"></script>
    <link rel="stylesheet" href="~/angular/dist/ng-table.min.css">
    <script src="~/angular/dist/ng-table.js"></script>
    <!--FIN Script dataTable-->
    <!--Script  jqeasy-->
    <script src="~/angular/lib/jquery/charts/chartjs/chart.min.js"></script>
    <script src="~/angular/lib/jquery/charts/easypiechart/jquery.easypiechart.min.js"></script>
    <script src="~/angular/lib/jquery/charts/morris/morris.js"></script>
    <script src="~/angular/lib/modules/text-angular/textAngular-sanitize.min.js"></script>
    <!---->
    <script src="~/angular/lib/modules/text-angular/textAngular.min.js"></script>
    <script src="~/angular/lib/modules/text-angular/textAngular-rangy.min.js"></script>
    <script src="~/angular/lib/jquery/datatable/dataTables.bootstrap.js"></script>
    <script src="~/angular/lib/jquery/bootbox.min.js"></script>
    <script src="~/angular/lib/jquery/toaster.js"></script>

    <script src="~/angular/app/helpers/utilities.js"></script>
    @*<script ng-if="settings" ng-cloak ng-src="{{'~/angular/app/helpers/utilities.js?' + settings.version ? settings.version: 'V1'}}"></script>*@
    <!--Pagination-->
    <!--<script src="~/angular/lib/modules/ng-simplePagination/simplePagination.spec.js"></script>-->
    <script src="~/angular/lib/modules/ng-simplePagination/simplePagination.js"></script>
    <script src="~/angular/lib/modules/angular-daterangepicker/moment.js"></script>
    <script src="~/angular/lib/modules/angular-daterangepicker/angular-daterangepicker.min.js"></script>
    <script src="~/angular/lib/modules/angular-daterangepicker/daterangepicker.js"></script>
    <script src="~/angular/lib/modules/angular-daterangepicker/angular-daterangepicker.js"></script>
    <script src="~/angular/lib/angular/angular-animate/angular-animate.js"></script>
    <script src="~/angular/lib/angular/angular-cookies/angular-cookies.js"></script>
    <script src="~/angular/lib/angular/angular-resource/angular-resource.js"></script>
    <script src="~/angular/lib/angular/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/angular/lib/angular/angular-touch/angular-touch.js"></script>
    <script src="~/angular/lib/angular/angular-locale/angular-locale_es.js"></script>
    <script src="~/angular/lib/angular/angular-ui-router/angular-ui-router.js"></script>
    <script src="~/angular/lib/angular/angular-ocLazyLoad/ocLazyLoad.js"></script>
    <script src="~/angular/lib/angular/angular-ngStorage/ngStorage.js"></script>
    <script src="~/angular/lib/angular/angular-ui-utils/angular-ui-utils.js"></script>
    <script src="~/angular/lib/angular/angular-breadcrumb/angular-breadcrumb.js"></script>
    <script src="~/angular/lib/angular/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="~/angular/lib/modules/angularjs-toaster/angular-toastr.min.js"></script>
    <script src="~/angular/lib/jquery/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/angular/lib/form-builder/angular-form-builder-components.js"></script>
    <script src="~/angular/lib/form-builder/angular-form-builder.js"></script>
    <script src="~/angular/lib/form-builder/angular-validator-rules.min.js"></script>
    <script src="~/angular/lib/form-builder/angular-validator.min.js"></script>
    <script src="~/angular/lib/modules/text-angular/textAngular-sanitize.min.js"></script>
    <script src="~/angular/lib/modules/text-angular/textAngular-rangy.min.js"></script>
    <script src="~/angular/lib/modules/text-angular/textAngular.min.js"></script>
    <!-- App Config and Routing Scripts -->
    <script src="~/angular/app/app.js"></script>
    <script src="~/angular/app/config.js?V1"></script>
    @*<script ng-cloak ng-src="{{'~/angular/app/config.js?' + settings.version ? settings.version: 'V1'}}"></script>*@
    <script src="~/angular/app/config.lazyload.js?V1"></script>
    @*<script ng-cloak ng-src="{{'~/angular/app/config.lazyload.js?' + settings.version ? settings.version: 'V1'}}"></script>*@
    <script src="~/angular/app/config.router.js?V1"></script>
    @*<script ng-cloak ng-src="{{'~/angular/app/config.router.js?' + settings.version ? settings.version: 'V1'}}"></script>*@
    <script src="~/angular/lib/html2canvas.js?V1}}"></script>
    @*<script ng-cloak ng-src="{{'~/angular/lib/html2canvas.js?' + settings.version ? settings.version: 'V1'}}"></script>*@
    <!-- Layout Related Directives -->
    <script src="~/angular/app/directives/loading.js"></script>
    <script src="~/angular/app/directives/skin.js"></script>
    <script src="~/angular/app/directives/sidebar.js"></script>
    <script src="~/angular/app/directives/header.js"></script>
    <script src="~/angular/app/directives/navbar.js"></script>
    <script src="~/angular/app/directives/chatbar.js"></script>
    <script src="~/angular/app/directives/widget.js"></script>
    <script src="~/angular/lib/jquery/Base64.js"></script>
    <link href="~/angular/lib/loading-bar.css" rel="stylesheet" />
    <script src="~/angular/lib/loading-bar.js"></script>
    <!--Inicio Archivo Sin Comiplar-->
    <!--<script ng-cloak ng-src="{{'~/angular/app/helpers/byaSite.js?' + settings.version ? settings.version: 'V1'}}"></script>-->
    <script src="~/angular/app/helpers/byaSite.js?V1"></script>
    <!--<script ng-cloak ng-src="{{'~/angular/app/helpers/byaPage.js?' + settings.version ? settings.version: 'V1'}}"></script>-->
    <script src="~/angular/app/helpers/byaPage.js?V1"></script>
    <!--Controladores-->
    <!--<script ng-cloak ng-src="{{'~/angular/app/dist/vendors.js?' + settings.version ? settings.version: 'V1'}}"></script>-->
    <script src="~/angular/app/dist/vendors.js?V1"></script>
    <!---->
    <div id="main" style="display:none;">
        @RenderBody()
    </div>
</body>
<!--  /Body -->
</html>
