﻿<div class="col-lg-12 col-sm-12 col-xs-12" ng-controller="ConsultaAuditoriaCtrl">
    <style>
        #tableanotaciones td{
            font-size: 8pt !important;
        }
    </style>
    <div class="widget">
        <div class="widget-header bordered-bottom bordered-green"><strong class="widget-caption ">Consulta de registro de auditoría</strong></div>
        <div class="widget-body" style="min-height:480px;">
            <div class="row">
                <div class="col-xs-12" style="margin-bottom:8px;">
                    <div class="row">

                        <div class="col-xs-3" ng-controller="DatepickerCtrl">
                            <label class="control-label">Fecha Inicial</label>
                            <input placeholder="Fecha Inicial"
                                   data-mask="99/99/9999" type="text" class="form-control input-sm" id="txtFechaInicial" ng-model="filtros.FechaInicial" ng-click="open($event)" ng-blur="validate($event)" required
                                   datepicker-popup="dd/MM/yyyy" is-open="opened" datepicker-options="dateOptions" close-text="Cerrar"
                                   clear-text="Limpiar">
                        </div>
                        <div class="col-xs-3" ng-controller="DatepickerCtrl">
                            <label class="control-label">Fecha Final</label>
                            <input placeholder="Fecha Final"
                                   data-mask="99/99/9999" type="text" class="form-control input-sm" id="txtFechaFinal" ng-model="filtros.FechaFinal" ng-click="open($event)" ng-blur="validate($event)" required
                                   datepicker-popup="dd/MM/yyyy" is-open="opened" datepicker-options="dateOptions" close-text="Cerrar"
                                   clear-text="Limpiar">
                        </div>

                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">Módulo</label>
                                <select type="text" class="form-control input-sm" id="cbModulo" ng-model="filtros.Modulo" style="text-transform: uppercase;" ng-options="item.Value as item.DisplayName for item in  Modulos">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">Acciones</label>
                                <select type="text" class="form-control input-sm" id="cbAccion" ng-model="filtros.Accion" style="text-transform: uppercase;" ng-options="item.Value as item.DisplayName for item in  Acciones">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">Tablas</label>
                                <select type="text" class="form-control input-sm" id="cbTabla" ng-model="filtros.Tabla" style="text-transform: uppercase;" ng-options="item as item for item in Tablas">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-3" style="margin-top:21px;">
                            <button ng-click="ConsultarAuditorias()" type="submit" id="btnConsultarAnotaciones" class="btn btn-info btn-addon"><i class="fa fa-search"></i>Consultar</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table ng-table="tableAuditoria" id="tableanotaciones" class="table table-hover table-bordered table-striped">
                            <tr ng-repeat="item in $data" id="{{item.Id}}">
                                <td data-title="''" class="text-center">
                                    <a href="javascript:;" title="Historico de cambios" ng-click="MostrarDetalles(item)"><i class="fa fa-history"></i></a>
                                </td>
                                <td data-title="'Módulo'" class="text-center">{{item.Modulo}}</td>
                                <td data-title="'Acción'" class="text-center">{{item.Accion}}</td>
                                <td data-title="'Fecha'" class="text-center">{{item.EventDateLocalTime | date : 'dd/MM/yyyy'}}</td>
                                <td data-title="'Hora'" class="text-center">{{item.EventDateLocalTime | date : 'HH:mm:ss'}}</td>
                                <td data-title="'Usuario'" class="text-right">{{item.UserID}}</td>
                                <td data-title="'Nombre'" class="text-right" ng-bind-html="cambiarEspaciosEnBlanco(item.NombreUsuario)"></td>
                                <td data-title="'Tabla'" class="text-left">{{item.TableName|uppercase}}</td>
                                <td data-title="'Columna'" class="text-left">{{item.ColumnName}}</td>
                                <td data-title="'Id'" class="text-right">{{item.RecordID}}</td>
                                <td data-title="'CRUD'" class="text-right">{{item.Evento}}</td>
                                <td data-title="'Original'" title="Campo original" class="text-right">{{item.OriginalValue}}</td>
                                <td data-title="'Nuevo'" title="Campo nuevo" class="text-center">
                                    <a href="javascript:;" title="Detalles"  ng-if="item.ColumnName === '*ALL'" ng-click="mostrarObjeto(item)"><i class="fa fa-list-alt"></i></a>
                                    <span ng-if="item.ColumnName !== '*ALL'">{{item.NewValue}}</span>
                                </td>
                                <td data-title="'Fecha UTC'" class="text-center">{{item.EventDateUTC | date : 'dd/MM/yyyy&nbsp;HH:mm:ss'}}</td>
                            </tr>
                            <tr ng-if="$data.length == 0">
                                <td colspan="14" class="text-center"><strong>No hay resultados</strong></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="modalDetalles" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title uppercase" id="gridSystemModalLabel">Detalles del objeto {{objeto.TableName}} {{objeto.RecordID}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6" ng-repeat="(key, value) in objeto.detalles">
                            <div>
                                <b>{{key}}</b><br />
                                <span>{{value}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-labeled btn-warning" title="Cerrar" data-dismiss="modal" id="btnCerrar">
                        <i class="btn-label glyphicon glyphicon-log-out"></i> Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="modalDetallesRegistro" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title uppercase" id="gridSystemModalLabel">Detalles de {{objeto.TableName}} {{objeto.RecordID}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row" ng-show="objeto.Ver == 'NO'">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Modulo</th>
                                            <th>Accion</th>
                                            <th>Evento</th>
                                            <th>Columna</th>
                                            <th>Actual</th>
                                            <th>Nuevo</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="o in objeto.detalles">
                                        <tr>
                                            <td colspan="7" class="uppercase">
                                                <b>Usuario: </b>{{o.UserID}} - <b>Nombre: </b>{{o.NombreUsuario}} <span style="float:right"><b>Fecha: </b>{{o.Date | date : 'shortDate'}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="item in o.Detalles">
                                            <td>{{item.EventDateLocalTime | date : 'dd/MM/yyyy&nbsp;HH:mm:ss'}}</td>
                                            <td>{{item.Modulo}}</td>
                                            <td>{{item.Accion}}</td>
                                            <td>{{item.Evento}}</td>
                                            <td>{{item.ColumnName}}</td>
                                            <td>{{item.OriginalValue}}</td>
                                            <td>
                                                <a href="javascript:;" title="Detalles" ng-if="item.ColumnName === '*ALL'" ng-click="verDetalles(item)"><i class="fa fa-list-alt"></i></a>
                                                <span ng-if="item.ColumnName !== '*ALL'">{{item.NewValue}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="objeto.Ver == 'SI'">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                            <button class="btn btn-warning btn-sm" ng-click="objeto.Ver = 'NO'">Regresar</button>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6" ng-repeat="(key, value) in objeto.objetoActual">
                            <div>
                                <b>{{key}}</b><br />
                                <span>{{value}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-labeled btn-danger" title="Cerrar" data-dismiss="modal" id="btnCerrar">
                        <i class="btn-label glyphicon glyphicon-log-out"></i> Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>