.fb-component{padding:10px !important;cursor:move!important}
.fb-component input{cursor:move!important}
.fb-component label{cursor:move!important}
.fb-component select{cursor:move!important}
.fb-component textarea{cursor:move!important}
.fb-form-object-editable{padding:10px!important}
.fb-form-object-editable.fb-draggable{cursor:move!important}
.fb-form-object-editable.fb-draggable input{cursor:move!important}
.fb-form-object-editable.fb-draggable label{cursor:pointer!important}
.fb-form-object-editable.fb-draggable select{cursor:move!important}
.fb-form-object-editable.fb-draggable textarea{cursor:move!important}
.fb-form-object-editable.empty{
				cursor:default !important;
				margin:6px !important;
				height:80px !important;
				border:dashed 1px #aaa !important;
				background-color:#eee!important}
.fb-draggable.dragging{background-color:#ffffff !important;
				position:absolute !important;
				z-index:800 !important;
				-webkit-box-shadow:#666 0 0 20px !important;
				-moz-box-shadow:#666 0 0 20px !important;
				box-shadow:#666 0 0 20px!important}
.fb-required:after{color:#b94a48 !important;content:' *'!important}
.fb-builder{min-height:250px!important}
.popover .control-label{text-align:left!important}.popover form{width:240px!important}

.botonFloat{
    z-index:10;
    position:fixed !important;
    right:10px;
    bottom:10px;}
.min{
    min-height:25vw!important;
}
#Calific {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#Calific p {
  text-align: center;
}

#Calific label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

.Estrella {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.Estrella:hover,
.Estrella:hover ~ .Estrella {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}