﻿<style type="text/css">
    /*LOGOS PLANTILLA LOGIN --------- Franklin*/
    #banner {
        margin-top: 0.2vw;
        margin-bottom: 0.1vw;
        height: 100px;
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.1), rgba(255,255,255,0.09)), url('../../Uploads/LOGO HCOMAS.png');
        background-repeat: no-repeat;
        background-size: auto 100px;
        background-position: right;
    }
    #logo-pequenio {
        width: 170px;
        height: 90px;
        transform: translate(30px,5px);
        /*background-image: url('../../assets/img/logo_blanco.jpg');*/
        background-image: url('../../assets/img/Orion tramites fin azul fuerte.png');
        background-position: center;
        background-size: 100% 100%;
    }
/*FIN LOGOS PLANTILLA LOGIN --------- Franklin*/
@media only screen and (max-width: 750px){
        #LoginConsultaPago{
            margin-left:20%;
        }
        /*LOGOS PLANTILLA LOGIN --------- Franklin*/
        #banner {
            margin-top: 1vw;
            margin-bottom: 1vw;
            height: 70px;
        }
        #logo-pequenio {
            width: 110px;
            height: 70px;
            transform: translate(30px,0px);
        }
    }

@media only screen and (max-width: 560px){
        #LoginConsultaPago{
            margin-left:20%;
        }
    #banner {
        margin-top: 1vw;
        margin-bottom: 1vw;
        height: 70px;
        background-position-x: 265px;
        background-size: contain;
        background-image: url('../../Uploads/LOGO HCOMAS.png');
    }
        #logo-pequenio {
            width: 110px;
            height: 70px;
            transform: translate(30px,0px);
        }
/*FIN LOGOS PLANTILLA LOGIN --------- Franklin*/
    }
</style>
<header class="row">
    <div class="col-xm-12">
        <div class="col-xs-12" id="banner">
            <div class="col-xs-4" id="logo-pequenio"></div>
        </div>
    </div>
</header>