﻿<div class="header-title" ng-cloak>
    <h1 id="header-title" header-title>
    </h1>
</div>
<!--Header Buttons-->
<div class="header-buttons" ng-cloak>
    <a href="" class="sidebar-toggler"></a>
    <a href="" class="refresh"></a>
    <a href="" class="fullscreen"></a>
</div>
<!--Header Buttons End-->