﻿<style type="text/css">
    .navbar-container .navbar-brand {
        padding: 10px;
    }
    .navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area .avatar {
        border-left: none;
        margin-right: 8px;
    }
</style>
<div class="navbar-inner" ng-controller="NavBarCtrl">
    <div class="navbar-container">
        <!-- Navbar Barnd -->
        <div class="navbar-header pull-left" ng-controller="SoporteCtrl">
            <a href="/#/app/inicio" class="navbar-brand">
                <small title="SIRCC - Gestión de Embargos, Libranzas y Cesiones">
                    <i class="glyphicon glyphicon-pencil"></i> SIGELC &reg;
                </small>
            </a>
        </div>
        <!-- /Navbar Barnd -->
        <!-- Sidebar Collapse -->
        <div class="sidebar-collapse"></div>
        <!-- /Sidebar Collapse -->
        <!-- Account Area and Settings --->
        <div class="navbar-header pull-right">
            <div class="navbar-account">
                <ul class="account-area">
                    <li ng-controller="SoporteCtrl">
                        <a class="dropdown-toggle" data-toggle="dropdown" title="Soporte tecnico" href="javascript:;"  ng-click="Foto()">
                            <i class="icon glyphicon glyphicon-comment"></i>
                        </a>
                    </li>
                    <li style="min-width:200px;">
                        <a class="login-area dropdown-toggle" data-toggle="dropdown" style="min-width:200px;">
                            <div class="avatar" title="Ver tu perfil">
                                <i class="icon glyphicon glyphicon-user" style="margin-top:-11px"></i>
                            </div>
                            <section>
                                <h2><span class="profile"><span ng-bind-html="colocarEspaciosEnBlanco(usernameGeneral)"></span></span></h2>
                            </section>
                        </a>
                        <!--Login Area Dropdown-->
                        <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area" style="min-width:200px;">
                            <li class="username"><a>{{usernameGeneral | uppercase}}</a></li>
                            <!--<li class="email"><a>David.Stevenson@live.com</a></li>-->
                            <!--Avatar Area-->
                            <li>
                                <div class="avatar-area">
                                    <img src="/angular/img/bya.png" style="width:150px;height:50px"  class="avatar">
                                    <!--<span class="caption">Change Photo</span>-->
                                </div>
                            </li>
                            <!--Avatar Area-->
                            <li class="edit">
                                <!--<a href="profile.html" class="pull-left">Profile</a>-->
                                <a href="#/app/admin_pagos/change_password" class="pull-right">Cambiar contraseña</a>
                            </li>
                            <!--Theme Selector Area-->
                            <li class="theme-area">
                                <ul class="colorpicker">
                                    <li><a class="colorpick-btn" href="" style="background-color:#5DB2FF;" skin-changer rel="assets/css/skins/blue.min.css"></a></li>
                                    <li><a class="colorpick-btn" href="" style="background-color:#2dc3e8;" skin-changer rel="assets/css/skins/azure.min.css"></a></li>
                                    <li><a class="colorpick-btn" href="" style="background-color:#03B3B2;" skin-changer rel="assets/css/skins/teal.min.css"></a></li>
                                    <li><a class="colorpick-btn" href="" style="background-color:#53a93f;" skin-changer rel="assets/css/skins/green.min.css"></a></li>
                                    <li><a class="colorpick-btn" href="" style="background-color:#FF8F32;" skin-changer rel="assets/css/skins/orange.min.css"></a></li>
                                    <li><a class="colorpick-btn" href="" style="background-color:#cc324b;" skin-changer rel="assets/css/skins/pink.min.css"></a></li>
                                    <li><a class="colorpick-btn" href="" style="background-color:#AC193D;" skin-changer rel="assets/css/skins/darkred.min.css"></a></li>
                                    <li><a class="colorpick-btn" href="" style="background-color:#8C0095;" skin-changer rel="assets/css/skins/purple.min.css"></a></li>
                                    <li><a class="colorpick-btn" href="" style="background-color:#0072C6;" skin-changer rel="assets/css/skins/darkblue.min.css"></a></li>
                                    <li><a class="colorpick-btn" href="" style="background-color:#585858;" skin-changer rel="assets/css/skins/gray.min.css"></a></li>
                                    <li><a class="colorpick-btn" href="" style="background-color:#474544;" skin-changer rel="assets/css/skins/black.min.css"></a></li>
                                    <li><a class="colorpick-btn" href="" style="background-color:#001940;" skin-changer rel="assets/css/skins/deepblue.min.css"></a></li>
                                </ul>
                            </li>
                            <!--/Theme Selector Area-->
                            <li class="dropdown-footer">
                                <a href="javascript:;" ng-click="CerrarSesion()">
                                    Salir
                                </a>
                            </li>
                        </ul>
                        <!--/Login Area Dropdown-->
                    </li>
                    <!-- /Account Area -->
                    <!--Note: notice that setting div must start right after account area list.
                    no space must be between these elements-->
                    <!-- Settings -->
                </ul><!--div class="setting">
                <!-- Settings -->
            </div>
        </div>
        <!-- /Account Area and Settings -->
    </div>
    <div ng-controller="SoporteCtrl">
        <div class="modal fade" id="modalSoporte" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Soporte Tecnico</h4>
                    </div>
                    <div class="modal-body">
                            <div id="registration-form">
                                <form role="form" >
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div style="display:none">
                                                <canvas id="canvasPan" width="1350" height="780" style="width:100%; height:300px"></canvas>
                                            </div>
                                            <img id="imgCanvas" src="" style="width:100%;height:300px" />
                                            <div class="form-group">
                                                <label for="exampleInputName2">Asunto</label>
                                                <span class="input-icon icon-right">
                                                    <input type="text"  class="form-control" id="txtAsuntoSoporte" ng-model="obj.Asunto" >
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="exampleInputEmail2">Mensaje</label>
                                                    <textarea class="form-control" id="txtMensajeSoporte" ng-model="obj.Mensaje" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-close"></i></button>
                        <button type="button" ng-click="Enviar(obj)" class="btn btn-success"><i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>