﻿<style type="text/css">
    /*#logo-pequenioAlcaldia {
        width: 80px;
        height: 45px;
        transform: translate(-20px,-10px);
        background-image: url('../../Uploads/LOGO HCOMAS.png');
        background-image: url('../../assets/img/logo_blanco.jpg');
        background-position: center;
        background-size: 100% 100%;
    }
    #logo-pequenioNav {
        width: 100px;
        height: 45px;
        transform: translate(0px,-10px);
        background-image: url('../../assets/img/logo_blanco.jpg');
        background-image: url('../../assets/img/logo_empresa.png');
        background-position: center;
        background-size: 100% 100%;
    }
     textarea{
          width:100% !important;
          height:auto !important;
    }*/
</style>
<div class="navbar-inner" ng-controller="NavBarCtrlUsuario">
    <div class="navbar-container"  style="background-color:#066cc3;">
        <!-- Navbar Barnd -->
        <div class="navbar-header pull-left">
            <div   ng-controller="SoporteCtrl" class="navbar-brand" style="padding:10px;font-size:large">
                <div ng-click="Foto()" style="cursor:pointer" class="col-xs-4" id="logo-pequenioAlcaldia"></div>
                <div  ng-click="Foto()" style="cursor:pointer" class="col-xs-4" id="logo-pequenioNav"></div>
            </div>
        </div>
        <!-- Account Area and Settings --->
        <div class="navbar-header pull-right">
            <div class="navbar-account">
                <ul class="account-area">
                    <li>
                        <a class="login-area" data-toggle="dropdown">
                            <div class="avatar" title="Usuario">
                                <img src="" class="avatar">
                            </div>
                            <section>
                                <h2><span class="profile"><span>{{usernamePago}}</span></span></h2>
                            </section>
                        </a>
                        <!--Login Area Dropdown-->
                        <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                            <li class="username"><a>{{usernamePago}}</a></li>
                            <!--Avatar Area-->
                            <li>
                                <div class="avatar-area">
                                    <img src="" class="avatar" style="width:70px; height:70px;">
                                </div>
                            </li>
                            <li class="dropdown-footer">
                                <a href="#/ChangePasswordUpago">
                                    Cambiar contraseña
                                </a>
                            </li>
                            <li class="dropdown-footer">
                                <a href="javascript:;" ng-click="CerrarSesionUpago()">
                                    Salir
                                </a>
                            </li>
                        </ul>
                        <!--/Login Area Dropdown-->
                    </li>
                    <!-- /Account Area -->
                    <!--Note: notice that setting div must start right after account area list.
                    no space must be between these elements-->
                    <!-- Settings -->
                </ul>
                <!--div class="setting">
                    </div><div class="setting-container">
                        <label>
                            <input type="checkbox" id="checkbox_fixednavbar" ng-model="settings.fixed.navbar">
                            <span class="text">Fixed Navbar</span>
                        </label>
                        <label>
                            <input type="checkbox" id="checkbox_fixedsidebar" ng-model="settings.fixed.sidebar">
                            <span class="text">Fixed SideBar</span>
                        </label>
                        <label>
                            <input type="checkbox" id="checkbox_fixedbreadcrumbs" ng-model="settings.fixed.breadcrumbs">
                            <span class="text">Fixed BreadCrumbs</span>
                        </label>
                        <label>
                            <input type="checkbox" id="checkbox_fixedheader" ng-model="settings.fixed.header">
                            <span class="text">Fixed Header</span>
                        </label>
                    </div>
                     Settings
                </div>-->
            </div>
            <!-- /Account Area and Settings -->
        </div>
    </div>
    <div ng-controller="SoporteCtrl">
        <div class="modal fade" id="modalSoporte" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Soporte Tecnico</h4>
                    </div>
                    <div class="modal-body">
                        <div id="registration-form">
                            <form role="form" class="ng-pristine ng-valid">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div style="display:none">
                                            <canvas id="canvasPan" width="1350" height="780" style="width:100%; height:300px"></canvas>
                                        </div>
                                        <img id="imgCanvas" src="" style="width:100%;height:300px" />
                                        <div class="form-group">
                                            <label for="exampleInputName2">Asunto</label>
                                            <span class="input-icon icon-right">
                                                <input type="text" h class="form-control" id="txtAsuntoSoporte" ng-model="obj.Asunto" >
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail2">Mensaje</label>
                                            <span class="input-icon icon-right">
                                                <textarea class="form-control" id="txtMensajeSoporte" ng-model="obj.Mensaje" rows="3"></textarea>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-close"></i></button>
                        <button type="button" ng-click="Enviar(obj)" class="btn btn-success"><i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
