﻿<div class="sidebar-header-wrapper">
    <input type="text" class="searchinput" />
    <i class="searchicon fa fa-search"></i>
    <div class="searchhelper">¿Que estas buscando?</div>
</div>
<!-- /Page Sidebar Header -->
<!-- Sidebar Menu -->
<ul class="nav sidebar-menu" ng-controller="SideBarCtrl">
    <!--Dashboard-->
    <li>
        <a href="/#/app/inicio">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> Inicio </span>
        </a>
    </li>
    <li>
        <a href="#" class="menu-dropdown" ng-if="MenuApp.length && MenuApp[0].SubMenu.length != 0">
            <i class="menu-icon fa fa-paperclip"></i>
            <span class="menu-text">Actas</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active" ng-repeat="item in MenuApp[0].SubMenu track by $index" ng-if="item.Habilitado">
                <a href="{{item.Url}}">
                    <span class="menu-text">{{item.Titulo}}</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="menu-dropdown" ng-if="MenuApp.length && MenuApp[1].SubMenu.length != 0">
            <i class="menu-icon fa fa-cogs"></i>
            <span class="menu-text">Datos básicos</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active" ng-repeat="item in MenuApp[1].SubMenu track by $index" ng-if="item.Habilitado">
                <a href="{{item.Url}}">
                    <span class="menu-text">{{item.Titulo}}</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="menu-dropdown" ng-if="MenuApp.length && MenuApp[2].SubMenu.length != 0">
            <i class="menu-icon fa fa-lock"></i>
            <span class="menu-text">Seguridad</span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ng-repeat="item in MenuApp[2].SubMenu track by $index" ng-if="item.Habilitado">
                <a href="{{item.Url}}">
                    <span class="menu-text">{{item.Titulo}}</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
