﻿    .flotante {
        display:scroll;
        position:fixed;
        bottom: 20px;
        right:20px;
        z-index:1000;
    }
.checkbox, .radio {
        position: relative;
        display: block;
        margin-top: 0px; 
        margin-bottom: 0px; 
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 4px;
        line-height: 1.2;
        vertical-align: middle;
        border-top: 1px solid #ddd;
    }
    .form-group{
        margin-bottom: 5px;
        
    }
    legend{
        font-size:small;
        font-weight:bold;
    }
div.floating-bar {
    position: fixed;
    border: 1px solid #000000;
    width: 78%;
    z-index: 100;
}

    div.floating-bar button {
        /*display: block;*/
        /*margin: 0 0.5em;*/
    }
.form-control, select{
    color:black;
}
.contenedor {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 580px;
}
.formulario input.ng-dirty.ng-invalid, .formulario select.ng-dirty.ng-invalid, .formulario textarea.ng-dirty.ng-invalid,
 .formulario input.ng-touched.ng-invalid, .formulario select.ng-touched.ng-invalid, .formulario textarea.ng-touched.ng-invalid {
    border: 1px solid red;
}

.formulario input.ng-dirty.ng-valid, .formulario select.ng-dirty.ng-valid, .formulario textarea.ng-dirty.ng-valid,
.formulario input.ng-touched.ng-valid, .formulario select.ng-touched.ng-valid, .formulario textarea.ng-touched.ng-valid  {
    border: 1px solid #e5e5e5;
}

.has-feedback label~.form-control-feedback {
    top: 25px;
}

.gestion-principal td, .gestion-principal th {
    font-size: 7pt !important
}


input[type=checkbox]~.text, input[type=radio]~.text {
    position: relative;
    z-index: 11;
    display: inline-block;
    margin: 0;
    line-height: 11.5px;
    min-height: 8px;
    min-width: 8.5px;
    font-weight: normal;
}

    input[type=radio] ~ .text:before {
        border-radius: 100%;
        font-size: 5px;
        font-family: FontAwesome;
        line-height: 11.8px;
        height: 12px;
        min-width: 12px;
    }

    input[type=checkbox] ~ .text:before {
        /*, input[type=radio] ~ .text:before */
        font-family: fontAwesome;
        font-weight: bold;
        font-size: 9px;
        color: #333;
        content: " ";
        background-color: #fafafa;
        border: 1px solid #c8c8c8;
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
        border-radius: 0;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        height: 11px;
        line-height: 12px;
        min-width: 11px;
        margin-right: 2px;
        margin-bottom: 2px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }
    .controles-transparentes{
        background-color:transparent !important;border:none!important
    }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
    line-height: 1.0; 
}

.table > tbody > tr > td > .radio, .table > tbody > tr > td > .checkbox, 
.table > tbody > tr > th > .radio, .table > tbody > tr > th > .checkbox, 
.table > tfoot > tr > td > .radio, .table > tfoot > tr > td > .checkbox, 
.table > tfoot > tr > th > .radio, .table > tfoot > tr > th > .checkbox, 
.table > thead > tr > td > .radio, .table > thead > tr > td > .checkbox, 
.table > thead > tr > th > .radio, .table > thead > tr > th > .checkbox {
    padding: 0px;
    line-height: 0.8;
    margin-bottom: -9px;
    margin-left: 3.5px;
}


.gestion-principal label, .gestion-principal input {
    font-size: x-small !important;
    color: black !important;
}

.form-group.has-warning input, .input-group.has-warning input, .form-group.has-warning .select, .input-group.has-warning.select, .form-group.has-warning textarea, .input-group.has-warning textarea, .input-group.has-warning {
    color: black;
    padding: 5px;
}
td,label{
    color:black !important;
}
.widget-header > .widget-caption {
    font-weight:700 !important;
    font-size:13px !important;
}

td > .input-xs {
    height: 20px;
    padding: 1px 10px;
    font-size: 11px;
    line-height: 1.5;
}

.td_no_padding {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
td:has(input), td:has(select) {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

td.cortar-texto{
    max-width: 100px;
    min-width: 100px;
    width:100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


td.cortar-texto-2{
    max-width: 200px;
    min-width: 200px;
    width:200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

td.cortar-texto-2-5{
    max-width: 290px;
    min-width: 290px;
    width:200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


td.cortar-texto-3{
    max-width: 300px;
    min-width: 300px;
    width:300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

td.cortar-texto-4{
    max-width: 400px;
    min-width: 400px;
    width:400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}