﻿<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget radius-bordered">
            <div class="widget-header">
                <span class="widget-caption">Espere esta opción proximamente</span>
                <div class="widget-buttons buttons-bordered">
                    <button class="btn btn-darkorange btn-xs" onclick="history.back();">Regresar</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <img class="img-responsive" src="/angular/img/en_construccion.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>