﻿<div class="row" ng-controller="GestionTerceroCtrl">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blueberry">
                <strong class="widget-caption">Gestión de Terceros</strong>
            </div>
            <div class="widget-body">

                <div class="row" style="margin-bottom:10px;">
                    <div class="col-xs-12">
                        <div class="clearfix col-xs-4">
                            <div class="input-group row">
                                <input type="text" class="form-control input-sm btn-rounded uppercase" id="txtBuscarTercero" ng-model="tableTerceros.filter()['Filtro']" placeholder="Buscar...">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary btn-sm btn-rounded uppercase" id="btnBuscarTercero"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-8 text-right">
                            <button class="btn btn-info btn-addon" type="button" ng-click="agregar()"><i class="fa fa-pencil"></i>Nuevo</button>
                            <!--<button class="btn btn-success btn-addon" type="button" ng-click="exportData()" ng-show="(Terceros).length"><i class="glyphicon glyphicon-share"></i>Exportar a Excel</button>-->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label>Terceros: {{Terceros.length}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table ng-table="tableTerceros" id="tablaTerceros" class="table table-hover table-bordered table-striped">
                                <tr ng-repeat="item in $data" id="{{'ter-' + item.Identificacion}}">
                                    <td data-title="'T.I.'" class="text-left">{{item.TipoIdentidad | uppercase}}</td>
                                    <td data-title="'Identificación'" class="text-center">{{item.Identificacion | uppercase}}</td>
                                    <td data-title="'Nombre'">{{item.NombreCompleto | uppercase}}</td>
                                    <td data-title="'Télefono'" class="text-center">{{item.Telefono}}</td>
                                    <td data-title="'Email'" class="text-left">{{item.Email}}</td>
                                    <td data-title="'Estado'" style="text-align:center">
                                        <label class="i-switch i-switch-md m-t-xs m-r" ng-if="item.Estado=='AC'" title="Activo" data-toggle="tooltip" data-placement="top">
                                            <input type="checkbox" checked ng-click="_CambiarEstado(item)">
                                            <span class="text"></span>
                                        </label>
                                        <label class="i-switch i-switch-md m-t-xs m-r" ng-if="item.Estado=='IN'" title="Inactivo" data-toggle="tooltip" data-placement="top">
                                            <input type="checkbox" ng-click="_CambiarEstado(item)">
                                            <span class="text"></span>
                                        </label>
                                    </td>
                                    <td data-title="'Editar'" width="100" class="text-center">
                                        <a href="javascript:;" class="btn-sm btn-rounded btn-icon" ng-click="editar(item)" data-toggle="tooltip" title="Editar  tercero"><i class="fa orange fa-pencil"></i></a>
                                    </td>
                                    <td data-title="'Firma'" width="100" class="text-center">
                                        <a href="javascript:;" class="btn-sm btn-rounded" ng-click="firmaTercero(item)" data-toggle="tooltip" title="Agregar firma"><i class="fa yellow fa-file-image-o"></i></a>
                                    </td>
                                </tr>
                                <tr ng-if="$data.length == 0">
                                    <td colspan="8"><strong>No hay Terceros registrados</strong></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
