﻿<div class="row" ng-controller="RegistroTercerosCtrl">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blueberry">
                <a href="" ng-click="regresar()"
                   style="transform:translate(-10px,3px); float:left;width:30px;height:30px; padding:3px;">
                    <i class="fa fa-chevron-circle-left" style="font-size:2em"></i>
                </a>
                <strong class="widget-caption">Registro de Terceros</strong>
                <div class="widget-buttons">
                    <a href="" widget-maximize></a>
                    <a href="" widget-collapse></a>
                </div>
            </div>
            <div class="widget-body">

                <form role="form" name="frmTercero" ng-submit="_guardar()" class="ng-pristine ng-valid" novalidate>
                    <div class="row">
                        <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
                            <div class="col-md-12 bg-light lter b-b text-right p-t-5 p-b-5" style="padding-bottom:8px;padding-top:8px;" ng-hide="OcultarCampos">
                                <!--<button class="btn btn-warning btn-addon" type="button" ng-click="_volver()" ng-show="OcultarCampos"><i class="fa fa-mail-reply"></i>Volver</button>-->
                                <button class="btn btn-danger btn-addon" type="button" ng-click="_limpiar()"><i class="fa fa-eraser"></i>Limpiar</button>
                                <button ng-disabled="Boton.Guardar" id="btnGuardarTercero" class="btn btn-success btn-addon" type="submit" ng-hide="OcultarCampos"><i class="fa fa-check"></i>Guardar</button>
                            </div>
                            <div class="col-md-12 bg-light lter b-b text-right p-t-5 p-b-5" style="padding-bottom:8px;padding-top:8px;" ng-show="OcultarCampos">
                                <button ng-disabled="Boton.Guardar" id="btnGuardarTercero2" class="btn btn-info btn-addon" type="submit"><i class="fa fa-check"></i>Guardar</button>
                                <button class="btn btn-danger btn-addon" type="button" ng-click="_limpiar()"><i class="fa fa-eraser"></i>Limpiar</button>
                                <button ng-disabled="Boton.Siguiente" class="btn btn-success btn-addon" type="button" ng-click="Siguiente(true)"><i class="fa fa-arrow-right"></i>Siguiente</button>
                            </div>
                        </div>
                    </div>
                    <fieldset>
                        <i>Los campos marcados con (*) son obligatorios</i>
                        <legend>*Identificación</legend>

                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label>*Tipo de contribuyente</label>
                                    <select ng-disabled="Editar == false" autofocus class="form-control input-sm" id="txtTerceroTipoPersona" ng-model="Tercero.TipoPersona" ng-change="_CambioTipoPersona();" style="text-transform: uppercase;" required>
                                        <option value="NATURAL">PERSONA NATURAL</option>
                                        <option value="JURIDICA">PERSONA JURIDICA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label>*Tipo de Identificación</label>
                                    <select id="TipoDocumento" name="TipoDocumento" class="form-control input-sm " ng-model="Tercero.TipoIdentidad" style="text-transform: uppercase;" ng-disabled="Tercero.TipoPersona == 'JURIDICA' || Editar == false" required>
                                        <option value="RC">REGISTRO CIVIL</option>
                                        <option value="TI">TARJERA DE IDENTIDAD</option>
                                        <option value="CC">CEDULA DE CIUDADANÍA</option>
                                        <option value="CE">CEDULA DE EXTRAJERÍA</option>
                                        <option value="PA">PASAPORTE</option>
                                        <option value="NIT">NIT</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="form-group">
                                            <label>*N° de Identificación</label>
                                            <input type="text" ng-disabled="Editar == false" class="form-control input-sm" id="txtTerceroIdentificacion" ng-model="Tercero.Identificacion" style="text-transform: uppercase;" placeholder="Nº Identificacion" ng-blur="calculaDigitoVerificador();"
                                                   ng-change="Tercero.Identificacion.$valid ? ($parent.steps.percent=70) : ($parent.steps.percent=60)" required>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group  ">
                                            <label>DV</label>
                                            <input type="text" class="form-control input-sm" id="txtTerceroDV" ng-model="Tercero.DVerificacion" style="text-transform: uppercase;" placeholder="DV" disabled required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-6 form-group" ng-controller="DatepickerCtrl">
                                        <label>Fec. expedición</label>
                                        <div class="input-group m-b">
                                            <input ng-disabled="Editar == false" id="TerceroFechaExpedicion" type="text" class="form-control" ng-model="Tercero.FechaExpedicion" ng-click="open($event)" datepicker-popup="dd/MM/yyyy" is-open="opened" datepicker-options="dateOptions" required close-text="Cerrar" clear-text="Limpiar" />
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Régimen</label>
                                            <select ng-disabled="Editar == false" class="form-control input-sm" id="txtTerceroRegimen" ng-model="Tercero.Regimen" style="text-transform: uppercase;" required>
                                                <option value="COMUN">COMUN</option>
                                                <option value="SIMPLIFICADO">SIMPLIFICADO</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="nombres">
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group  ">
                                    <label>*Primer Nombre</label>
                                    <input type="text" class="form-control input-sm" id="txtTerceroPrimerNombre" ng-model="Tercero.PrimerNombre" style="text-transform: uppercase;" placeholder="Primer Nombre" ng-disabled="Tercero.TipoIdentidad == 'NIT' || Editar == false">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group  ">
                                    <label>Segundo Nombre</label>
                                    <input type="text" class="form-control input-sm" id="txtTerceroSegundoNombre" ng-model="Tercero.SegundoNombre" style="text-transform: uppercase;" placeholder="Segundo Nombre" ng-disabled="Tercero.TipoIdentidad == 'NIT' || Editar == false">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group  ">
                                    <label>*Primer Apellido</label>
                                    <input type="text" class="form-control input-sm" id="txtTerceroPrimerApellido" ng-model="Tercero.PrimerApellido" style="text-transform: uppercase;" placeholder="Primer Apellido" ng-disabled="Tercero.TipoIdentidad == 'NIT' || Editar == false">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group  ">
                                    <label>Segundo Apellido</label>
                                    <input type="text" class="form-control input-sm" id="txtTerceroSegundoApellido" ng-model="Tercero.SegundoApellido" style="text-transform: uppercase;" placeholder="Segundo Apellido" ng-disabled="Tercero.TipoIdentidad == 'NIT' || Editar == false">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group  ">
                                    <label>Razón Social</label>
                                    <input type="text" class="form-control input-sm" id="txtTerceroRazonSocial" ng-model="Tercero.RazonSocial" style="text-transform: uppercase;" placeholder="Razón Social" ng-disabled="Tercero.TipoIdentidad != 'NIT' || Editar == false">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group  ">
                                    <label>Nombre comercial </label>
                                    <input type="text" class="form-control input-sm" id="txtTerceroNombreComercial" ng-model="Tercero.NombreComercial" style="text-transform: uppercase;" placeholder="Nombre comercial" ng-disabled="Tercero.TipoIdentidad != 'NIT' || Editar == false">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group  ">
                                    <label>Nombre de Contacto</label>
                                    <input type="text" class="form-control input-sm" id="txtTerceroNombreContacto" ng-model="Tercero.NombreContacto" style="text-transform: uppercase;" placeholder="Nombre de  Contacto" ng-disabled="Tercero.TipoIdentidad != 'NIT' || Editar == false">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group  ">
                                    <label>*Email</label>
                                    <input ng-disabled="Editar == false" type="email" class="form-control input-sm" id="txtTerceroEmpresaEmail" ng-model="Tercero.Email" placeholder="Email" required>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>UBICACIÓN</legend>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group  ">
                                    <label>Teléfono</label>
                                    <input ng-disabled="Editar == false" type="text" class="form-control input-sm" id="txtTerceroTelefono" ng-model="Tercero.Telefono" style="text-transform: uppercase;" placeholder="Telefono" required>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group  ">
                                    <label>Móvil 1</label>
                                    <input ng-disabled="Editar == false" type="text" class="form-control input-sm" id="txtTerceroMovil1" ng-model="Tercero.Movil1" style="text-transform: uppercase;" placeholder="Movil 1" required>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group  ">
                                    <label>Móvil 2</label>
                                    <input ng-disabled="Editar ==false" type="text" class="form-control input-sm" id="txtTerceroMovil2" ng-model="Tercero.Movil2" style="text-transform: uppercase;" placeholder="Movil 2">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group  ">
                                    <label>Móvil 3</label>
                                    <input ng-disabled="Editar == false" type="text" class="form-control input-sm" id="txtTerceroMovil3" ng-model="Tercero.Movil3" style="text-transform: uppercase;" placeholder="Movil 3">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group  ">
                                    <label>País</label>
                                    <input ng-disabled="Editar == false" type="text" class="form-control input-sm" value="COLOMBIA" id="txtTerceroPais" ng-model="Tercero.Pais" style="text-transform: uppercase;" placeholder="País" required>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="from-group">
                                    <label>Departamento</label>
                                    <select ng-disabled="Editar == false" id="txtDepartamento" ng-model="Departamentos.Seleccionado" ng-change="CambioDepartamento()" class="form-control input-sm" ng-options="departamento as departamento.NombreDepartamento for departamento in Departamentos track by departamento.DepartamentoId" style="text-transform: uppercase;"></select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <select ng-disabled="Editar==false" id="txtCiudad" ng-model="Departamentos.Seleccionado.Municipios.Seleccionado" ng-change="CambioMunicipio()" ng-options="municipio as municipio.NombreMunicipio for municipio in Departamentos.Seleccionado.Municipios track by municipio.MunicipioId" class="form-control input-sm" style="text-transform: uppercase;"></select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-xs-12">
                                <div class="form-group  ">
                                    <label>Dirección</label>
                                    <input ng-disabled="Editar ==false" type="text" title="Click para abrir el generador de direcciones" class="form-control input-sm" id="txtTerceroDireccion" ng-model="Tercero.Direccion" style="text-transform: uppercase;" placeholder="Dirección" ng-click="mostrarDireccion(Tercero)" required>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="mdMensaje" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" style="margin-top: 10%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="CerrarModal()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Control de Información </h4>
                </div>
                <div class="modal-body">

                    <div class="row">

                        <div class="col-xs-offset-1 col-xs-10  text-justify">
                            <label>Esta persona se encuentra registrada como contribuyente de ICA y no puede ser modificado desde este módulo, los datos se cargarán pero para modificarlo debe realizar una novedad para este contribuyente.</label>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-xs-offset-7 col-xs-2"></div>
                        <div class="col-xs-2">
                            <button style="width:90px;" type="button" ng-click="CerrarModal()" class="btn  btn-info">Aceptar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div data-backdrop="static" data-keyboard="false" class="modal fade bs-example-modal-sm " tabindex="-1" role="dialog" id="mdCargando">
        <div class="modal-dialog" style="margin-top: 10%;">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel11">¡Control de Información!</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10 text-justify ">
                            <label>{{MensajeOb.Nota1}}</label>
                            <br />

                        </div>
                    </div>

                    <div class="row" ng-show="Boton.Aceptar">
                        <div class="col-xs-offset-8 col-xs-4 text-right">
                            <button type="button" style="width: 120px;" class="btn  btn-info btn-addon" ng-click="Siguiente(false)"><i class="fa fa-check"></i>Aceptar</button>
                        </div>
                    </div>

                    <div class="row" ng-hide="Boton.Aceptar">
                        <div class="col-xs-offset-8 col-xs-4 text-right">
                            <button style="width: 110px;" type="button" class="btn  btn-info btn-addon" data-dismiss="modal"><i class="icon icon-check"></i>Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" tabindex="1" role="dialog" id="modalDireccion">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">

                            <div class="panel-heading font-bold">
                                <button type="button" class="close" ng-click="SetFocusDireccion()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Generador de dirección</h4>
                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group  ">
                                            <label>Dirección Completa:</label>
                                            <div class="input-group m-b">
                                                <span class="input-group-addon"><i class="fa fa-road"></i></span>
                                                <input ng-model="Direccion.Generada" type="text" class="form-control input-sm" style="text-transform: uppercase;" readonly required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 text-center">
                                        <br />
                                        <button class="btn btn-danger btn-addon" type="button" ng-click="BorrarDireccion();NuevaDireccion();"><i class="fa fa-trash-o"></i>Borrar</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <label>Asistente para parte principal de la dirección</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <label>(Diligencie los campos requeridos que identifiquen la dirección actual; los campos que no requiera los puede dejar en blanco. Vaya verificando en el recuadro superior "Dirección Completa" su dirección)</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tr>
                                                    <td width="160px;">
                                                        <select class="form-control input-sm" id="camp1" ng-change="DireccionPrincipal()" ng-model="Direccion.tipoViaPrimaria" style="padding-left: 5px; padding-right: 5px; text-align:center; float: left; text-transform: uppercase;" required>
                                                            <option value="">Escoja una opción</option>
                                                            <option value="AC">Avenida Calle</option>
                                                            <option value="AK">Avenida Carrera</option>
                                                            <option value="CL">Calle</option>
                                                            <option value="KR">Carrera</option>
                                                            <option value="DG">Diagonal</option>
                                                            <option value="TV">Transversal</option>
                                                        </select>
                                                    </td>
                                                    <td width="50px;">
                                                        <input type="text" id="camp2" ng-change="DireccionPrincipal()" ng-model="Direccion.numeroViaPrincipal" class="form-control input-sm" maxlength="3" style="padding-left:5px; padding-right:5px; text-align: center; text-transform: uppercase; float: left;" required />
                                                    </td>
                                                    <td width="55px;">
                                                        <select class="form-control input-sm" id="camp3" ng-change="DireccionPrincipal()" ng-model="Direccion.letraViaPrincipal" style="padding-left: 5px; padding-right: 5px; text-align: center; text-transform: uppercase;" required>
                                                            <option value=""> </option>
                                                            <option value="A">A</option>
                                                            <option value="B">B</option>
                                                            <option value="C">C</option>
                                                            <option value="D">D</option>
                                                            <option value="E">E</option>
                                                            <option value="F">F</option>
                                                            <option value="G">G</option>
                                                            <option value="H">H</option>
                                                            <option value="I">I</option>
                                                            <option value="J">J</option>
                                                            <option value="K">K</option>
                                                            <option value="L">L</option>
                                                            <option value="M">M</option>
                                                            <option value="N">N</option>
                                                            <option value="Ñ">Ñ</option>
                                                            <option value="O">O</option>
                                                            <option value="P">P</option>
                                                            <option value="Q">Q</option>
                                                            <option value="R">R</option>
                                                            <option value="S">S</option>
                                                            <option value="T">T</option>
                                                            <option value="U">U</option>
                                                            <option value="V">V</option>
                                                            <option value="W">W</option>
                                                            <option value="X">X</option>
                                                            <option value="Y">Y</option>
                                                            <option value="Z">Z</option>
                                                        </select>
                                                    </td>
                                                    <td width="60px;">
                                                        <select class="form-control input-sm" id="camp4" ng-change="DireccionPrincipal()" ng-model="Direccion.bis" style="padding-left: 5px; padding-right: 5px; text-align: center; text-transform: uppercase;" required>
                                                            <option value=""> </option>
                                                            <option value="BIS">BIS</option>
                                                        </select>
                                                    </td>
                                                    <td width="55px;">
                                                        <select class="form-control input-sm" id="camp5" ng-change="DireccionPrincipal()" ng-model="Direccion.letraBis" style="text-align: center; padding-left: 5px; padding-right: 5px; text-transform: uppercase; " required>
                                                            <option value=""> </option>
                                                            <option value="A">A</option>
                                                            <option value="B">B</option>
                                                            <option value="C">C</option>
                                                            <option value="D">D</option>
                                                            <option value="E">E</option>
                                                            <option value="F">F</option>
                                                            <option value="G">G</option>
                                                            <option value="H">H</option>
                                                            <option value="I">I</option>
                                                            <option value="J">J</option>
                                                            <option value="K">K</option>
                                                            <option value="L">L</option>
                                                            <option value="M">M</option>
                                                            <option value="N">N</option>
                                                            <option value="Ñ">Ñ</option>
                                                            <option value="O">O</option>
                                                            <option value="P">P</option>
                                                            <option value="Q">Q</option>
                                                            <option value="R">R</option>
                                                            <option value="S">S</option>
                                                            <option value="T">T</option>
                                                            <option value="U">U</option>
                                                            <option value="V">V</option>
                                                            <option value="W">W</option>
                                                            <option value="X">X</option>
                                                            <option value="Y">Y</option>
                                                            <option value="Z">Z</option>
                                                        </select>
                                                    </td>
                                                    <td width="80px;">
                                                        <select class="form-control input-sm" id="camp7" ng-change="ValidarCuadrantePrincipal();" ng-model="Direccion.cuadranteViaPrincipal" style="text-align:center; padding-left: 5px; padding-right: 5px; text-transform: uppercase;" required>
                                                            <option value=""> </option>
                                                            <option value="NORTE">NORTE</option>
                                                            <option value="SUR">SUR</option>
                                                            <option value="ESTE">ESTE</option>
                                                            <option value="OESTE">OESTE</option>
                                                        </select>
                                                    </td>
                                                    <td width="20px;" class="text-right">
                                                        <label style="font-size:20px;">#</label>
                                                    </td>
                                                    <td width="50px;">
                                                        <input type="text" ng-change="DireccionPrincipal()" id="camp8" class="form-control input-sm" ng-model="Direccion.numeroViaGeneradora" maxlength="3" style="text-align: center; padding-left: 5px; padding-right: 5px; float: left;" required />
                                                    </td>
                                                    <td width="55px;">
                                                        <select class="form-control input-sm" id="camp9" ng-change="DireccionPrincipal()" ng-model="Direccion.letraViaGeneradora" style="text-align: center; padding-left: 5px; padding-right: 5px; text-transform: uppercase;" required>
                                                            <option value=""> </option>
                                                            <option value="A">A</option>
                                                            <option value="B">B</option>
                                                            <option value="C">C</option>
                                                            <option value="D">D</option>
                                                            <option value="E">E</option>
                                                            <option value="F">F</option>
                                                            <option value="G">G</option>
                                                            <option value="H">H</option>
                                                            <option value="I">I</option>
                                                            <option value="J">J</option>
                                                            <option value="K">K</option>
                                                            <option value="L">L</option>
                                                            <option value="M">M</option>
                                                            <option value="N">N</option>
                                                            <option value="Ñ">Ñ</option>
                                                            <option value="O">O</option>
                                                            <option value="P">P</option>
                                                            <option value="Q">Q</option>
                                                            <option value="R">R</option>
                                                            <option value="S">S</option>
                                                            <option value="T">T</option>
                                                            <option value="U">U</option>
                                                            <option value="V">V</option>
                                                            <option value="W">W</option>
                                                            <option value="X">X</option>
                                                            <option value="Y">Y</option>
                                                            <option value="Z">Z</option>
                                                        </select>
                                                    </td>
                                                    <td width="20px;" class="text-center">
                                                        <label style="font-size:20px;">-</label>
                                                    </td>
                                                    <td width="50px;">
                                                        <input type="text" ng-change="DireccionPrincipal()" id="camp10" class="form-control input-sm" ng-model="Direccion.numeroPlaca" maxlength="3" style="text-align: center; padding-left: 5px; padding-right: 5px; float: left;" required />
                                                    </td>
                                                    <td width="80px;">
                                                        <select class="form-control input-sm" id="camp11" ng-change="ValidarCuadranteViaGeneradora();" ng-model="Direccion.cuadranteViaGeneradora" style="text-align:center; padding-left: 5px; padding-right: 5px; text-transform: uppercase;" required>
                                                            <option value=""> </option>
                                                            <option value="NORTE">NORTE</option>
                                                            <option value="SUR">SUR</option>
                                                            <option value="ESTE">ESTE</option>
                                                            <option value="OESTE">OESTE</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <label>Asistente Para el ingreso de la Dirección Parte Complementaria   (Ej. INT 2 AP 505)</label>
                                    </div>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            (Seleccione el tipo en la lista desplegable inferior, escriba en el recuadro el detalle y pulse el botón "Adicionar otro complemento". Repita este proceso hasta tener toda la parte complementaria de la dirección y vaya verificando en el recuadro superior "Dirección Completa" su dirección)
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <form ng-submit="ComplementoDireccion()">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 col-xs-12">
                                            <select class="form-control input-sm" ng-model="Direccion.componenteComplemento" style="padding-left: 5px; padding-right: 5px; text-align:center; text-transform: uppercase;" required>
                                                <option value="">Escoja una opción</option>
                                                <option value="AP">Apartamento</option>
                                                <option value="AG">Agrupación</option>
                                                <option value="BRR">Barrio</option>
                                                <option value="BL">Bloque</option>
                                                <option value="BG">Bodega</option>
                                                <option value="CN">Camino</option>
                                                <option value="CT">Carretera</option>
                                                <option value="CEL">Célula</option>
                                                <option value="CA">Casa</option>
                                                <option value="CONJ">Conjunto</option>
                                                <option value="CS">Consultorio</option>
                                                <option value="DP">Depósito</option>
                                                <option value="ED">Edificio</option>
                                                <option value="EN">Entrada</option>
                                                <option value="ESQ">Esquina</option>
                                                <option value="ET">Etapa</option>
                                                <option value="GJ">Garaje</option>
                                                <option value="IN">Interior</option>
                                                <option value="KM">Kilómetro</option>
                                                <option value="LC">Local</option>
                                                <option value="LT">Lote</option>
                                                <option value="MZ">Manzana</option>
                                                <option value="MN">Mezanine</option>
                                                <option value="MD">Módulo</option>
                                                <option value="OF">Oficina</option>
                                                <option value="PS">Paseo</option>
                                                <option value="PA">Parcela</option>
                                                <option value="PH">Penthouse</option>
                                                <option value="PI">Piso</option>
                                                <option value="PN">Puente</option>
                                                <option value="PD">Predio</option>
                                                <option value="SC">Salón Comunal</option>
                                                <option value="SR">Sector</option>
                                                <option value="SL">Solar</option>
                                                <option value="SS">Semi Sótano</option>
                                                <option value="SM">Super Manzana</option>
                                                <option value="TO">Torre</option>
                                                <option value="UN">Unidad</option>
                                                <option value="UR">Unidad Residencial</option>
                                                <option value="URB">Urbanización</option>
                                                <option value="ZN">Zona</option>

                                            </select>
                                        </div>
                                        <div class="col-xs-2">
                                            <input type="text" ng-model="Direccion.valorComplemento" class="form-control input-sm" style="padding-left:5px; padding-right:5px; text-align: center; text-transform: uppercase; " required />
                                        </div>
                                        <div class="col-xs-3 text-center">
                                            <button class="btn btn-info btn-addon"><i class="fa fa-plus"></i>Agregar Complemento</button>
                                        </div>
                                    </div>
                                </form>

                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <button class="btn btn-success btn-addon" id="btnGuardarDireccion" ng-click="GenerarDireccion()"><i class="fa fa-check"></i>Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
