﻿<style type="text/css">
    #logo-pequenioNav {
        width: 120px;
        height: 80px;
        transform: translate(-10px,-27px);
        /*background-image: url('../../assets/img/logo_blanco.jpg');*/
        background-image: url('../../Uploads/LOGO HCOMAS.png');
        background-position: center;
        background-size: 100% 100%;
    }
    #logo-pequenioAlcaldia {
        width: 140px;
        height: 40px;
        transform: translate(0px,-10px);
        background-image: url('../../Uploads/logo.png');
        background-position: center;
        background-size: 100% 100%;
    }
    #menu{
        padding-top:20px !important;
        padding-bottom:20px !important;
    }
</style>
<link href="../css/style.css" rel="stylesheet" />
<div class="main-nav" id="menu">
    <div class="container">
        <div class="navbar-header">

            <a ng-controller="SoporteCtrl" class="navbar-brand" ui-sref="inicio" style="color:white">
                <div ng-click="Foto()" style="cursor:pointer" class="col-xs-12" id="logo-pequenioNav"></div>
                <!--<div ng-click="Foto()" style="cursor:pointer" class="col-xs-12" id="logo-pequenioAlcaldia"></div>-->
            </a>
        </div>
        <div class="navbar-header" style="float:right;">
            <a class="navbar-brand" href="/#/login" style="color:white">
                Iniciar Sesión
            </a>
        </div>
    </div>
</div>

