﻿<div class="row" ng-controller="GestionArchivoCtrl">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blueberry">
                <strong class="widget-caption">Archivos Cargados</strong>
                <div class="widget-buttons">
                    <a href="" widget-maximize></a>
                    <a href="" widget-collapse></a>
                </div>
            </div>
            <div class="widget-body">
                <div class="row" style="margin-bottom:10px;">

                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-4 col-xs-8">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-6" ng-controller="DatepickerCtrl">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" class="form-control input-sm" placeholder="Fecha Inicial" ng-model="Filtro.FechaInicio" ng-change="Filtro.FechaFinal = (Filtro.FechaInicio|date:'yyyy-MM-dd','-0500')" ng-click="open($event)" ng-blur="validate($event)" datepicker-popup="dd/MM/yyyy" is-open="opened" datepicker-options="dateOptions" close-text="Cerrar" clear-text="Limpiar" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6" ng-controller="DatepickerCtrl">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" placeholder="Fecha final" class="form-control input-sm" ng-model="Filtro.FechaFinal" ng-click="open($event)" ng-blur="validate($event)" datepicker-popup="dd/MM/yyyy" is-open="opened" datepicker-options="dateOptions" close-text="Cerrar" clear-text="Limpiar" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-4">
                                <button ng-click="ConsultarPorFecha()" class="btn btn-info">Consultar</button>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="input-group row">
                                    <input type="text" class="form-control input-sm btn-rounded uppercase" id="txtBuscarTercero" ng-model="tableTerceros.filter()['Filtro']" placeholder="Buscar...">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary btn-sm btn-rounded uppercase" id="btnBuscarTercero"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-12 text-right">
                                <a class="btn btn-info btn-addon" href="/#/app/archivo/excel/importar" ng-click="agregar()"><i class="fa fa-pencil"></i>Nuevo</a>
                                <!--<button class="btn btn-success btn-addon" type="button" ng-click="exportData()" ng-show="(Terceros).length"><i class="glyphicon glyphicon-share"></i>Exportar a Excel</button>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>Actas: {{tableTerceros.total()}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive">
                            <table ng-table="tableTerceros" id="tablaTerceros" class="table table-hover table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in $data" id="{{'archivo-' + item.Id}}">
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.ArchivoNombre}}</td>
                                        <td>{{item.Estado}}</td>
                                        <td class="text-center">{{item.Fecha | date : 'dd/MM/yyyy'}}</td>
                                        <td class="text-center">{{item.Hora | date : 'HH:mm'}}</td>
                                        <td data-title="'Editar'" width="100" class="text-center">
                                            <!--<a href="/#/app/archivo/excel/importar?Id={{item.Id}}" class="btn-sm btn-rounded btn-icon" data-toggle="tooltip" title="Editar acta"><i class="fa orange fa-pencil"></i></a>-->
                                            <button ng-click="verDetalles(item)" class="btn-sm btn-rounded btn-icon" data-toggle="tooltip" title="Detalles archivo"><i class="fa purple fa-list"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tr ng-if="$data.length == 0">
                                    <td colspan="6"><strong>No hay archivos cargados</strong></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalRegistros" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Registros</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table ng-table id="tablaTerceros" class="table table-hover table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th ng-repeat="item in Resultado.Encabezado track by $index">{{item}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in Resultado.Registros track by $index">
                                            <td>{{$index + 1}}</td>
                                            <td ng-repeat="col in item track by $index">{{col}}</td>
                                        </tr>
                                    </tbody>
                                    <tr ng-if="Resultado.Registros.length == 0">
                                        <td colspan="1"><strong>No hay registros cargados</strong></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-addon" data-dismiss="modal"><i class="icon icon-close"></i>Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
