﻿<div class="row" ng-controller="ImportarArchivoCtrl">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blueberry">
                <a href="" ng-click="regresar()"
                   style="transform:translate(-10px,3px); float:left;width:30px;height:30px; padding:3px;">
                    <i class="fa fa-chevron-circle-left" style="font-size:2em"></i>
                </a>
                <strong class="widget-caption">Actas</strong>
                <div class="widget-buttons">
                    <a href="" widget-maximize></a>
                    <a href="" widget-collapse></a>
                </div>
            </div>
            <div class="widget-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading ng-binding">Información General-</div>
                            <div class="panel-body">
                                <div class="row">                                    
                                    
                                    <div class="col-md-2 col-sm-4 col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label " for="Fecha" title="Fecha">Fecha</label>
                                            <input class="form-control input-sm text-box single-line" data-val="true" data-val-date="El campo Fecha debe ser una fecha." data-val-required="El campo Fecha es obligatorio." id="Fecha" ng-model="Archivo.Fecha" name="Fecha" type="date" value="">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="Fecha" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label " for="Hora" title="Hora">Hora</label>
                                            <input class="form-control input-sm text-box single-line" data-val="true" data-val-date="El campo Fecha debe ser una fecha." data-val-required="El campo Hora es obligatorio." id="HoraAprehension" ng-model="Archivo.Hora" name="Hora" type="time" value="">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="Hora" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label class="control-label " title="Cargar archivo">Cargar Archivo</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-azure btn-file">
                                                    Browse <input type="file" name="Archivo" id="Archivo" ng-model="Archivo.Archivo" onchange="angular.element(this).scope().actualizarArchivo()">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" id="ArchivoNombre" ng-model="Archivo.ArchivoNombre" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-12 col-xs-12 text-right">
                                        <!-- purple -->
                                        <label>&nbsp;</label>
                                        <button type="button" class="btn btn-success" ng-click="Guardar(false)"><i class="fa fa-upload"></i> Cargar Información</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--<div class="row right flotante">
                    <div class="form-group col-xs-4 text-center">
                        <button title="Guardar Borrador" type="button" ng-show="Archivo.Estado!='RADICADA'" id="btnGuardarBorrador" ng-click="Guardar(true)" class="btn btn-warning  btn-circle btn-sm"><i class="fa fa-eraser"></i></button>
                    </div>
                    <div class="form-group col-xs-4 text-center">
                        <button title="Guardar definitivo" type="button"  ng-disabled="Archivo.Nueva === 'SI'" ng-show="Archivo.Estado!='RADICADA'" id="btnGuardar" ng-click="Guardar(false)" class="btn  {{habilitarBotones?'btn-default':'btn-success'}}  btn-circle btn-sm "><i class="glyphicon glyphicon-ok"></i></button>
                    </div>
                    <div class="form-group col-xs-4 text-center">
                        <button title="Limpiar campos" type="button" id="btnLimpiar" ng-click="_limpiar()" class="btn btn-danger  btn-circle btn-sm"><i class="fa fa-eraser"></i></button>
                    </div>
                </div>-->

            </div>
        </div>
    </div>
</div>
